@import url(https://fonts.googleapis.com/css?family=Raleway:800);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,400italic);
@font-face
{
    font-family: 'helveticaheue-medium';
    font-weight: medium;
    font-style: normal;
    src: url('./fonts/helvetica-neue-medium.ttf');
}

html{
    position: relative;
    min-height: 100%;
}
/**/
a, a:active, a:focus, a:hover, a:visited, a:link
button, button:active, button:focus{
    outline: none; /* Works in Firefox, Chrome, IE8 and above */ 
    text-decoration: none;
}
* {
    margin: 0;
}
html,
body {
    height: 100%;
    width: 100%;
    height: auto;
}
body{
    /*margin-bottom: 60px*/
    height: 100%;
    min-height: 100vh;
}
hr{
    border-top: 2px solid #eee;
}
.wrapper {
    /*min-height: 100%;*/
    height: auto !important;
    height: 100%;
    margin: 0 auto;
}
.footer-section,
.push {
    clear: both;
}
body {
    font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
}
p,
span,
a,
ul,
li,
button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}
strong {
    font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5em;
    font-weight: 400;
}
strong {
    font-weight: 400;
}
a {
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    color: #fff;
}
a:hover,
a:focus,
a:active,
a.active {
    color: #000;
}
.well-chat {
    background-color: #f48e31;
    border: 1px solid #f48e31;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
.modal {
    bottom: auto;
}
input:checked + label { color: green; }

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #808285;
}
.nav-pills li a {
    border-radius: 0;
    background-color: #FFF;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
}
/*.user_profile .profile_edit .panel-body {
    max-width: 700px;
    margin: 0 auto;
}*/
/*.user_profile .profile_edit .panel-body {
    max-width: 600px;
    margin: 0 1em;
}*/
.btn{
    text-transform: uppercase;
}
.btn-primary {
    color: #fff;
    background-color: #F7961C;
    border-color: #C47117;
}
.btn-default:hover {
    color: #fff;
    background: transparent;
    border-color: #fff;
}
.btn-default,
.btn-default:hover {
    border-color: #fff;
    font-weight: 600;
}

.btn-default:before {
    background: #fff;
}
/*.btn-default:hover .btn-default:before {
    background-color: transparent;
    color: #333;
}*/
.btn-primary,
.btn-primary:hover {
    border:none;
}
.btn-primary:before {
    background: #C47117;
}
.btn-primary:hover {
    color: #fff;
    background: none;
}
.btn.btn-primary.btn-block:hover {
    background-color: #71757B;
    border-color: none;
}
.btn-success{
    border-color: #28be68;
}
.btn-success:before {
    background: #03C48F;
}
.btn-success:hover {
    color: #fff;
    background: #03C48F;
    border-color: #398439
}
.btn-info,
.btn-info:hover {
    border-color: #acb2b7;
}
.btn-info:before {
    background: #bdc3c7;
}
.btn-info:hover {
    color: #000;
    background: transparent;
}
.btn-warning,
.btn-warning:hover {
    border-color: #c54e00;
}
.btn-warning:before {
    background: #c54e00;
}
.btn-warning:hover {
    color: #fff;
    background: transparent;
}
.btn-danger,
.btn-danger:hover {
    border-color: #b53224;
}
.btn-danger:before {
    background: #b53224;
}
.btn-danger:hover {
    color: #fff;
    background: transparent;
}
.ui.button {
    font-size: 1.4em;
    color: #000;
}
.medium-bold {
    font-weight: 600;
}
.tile {
    color: #fff;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
}
.tile .title {
    display: inline;
    margin-top: 0px;
    text-align: center;
    font-size: 0.65em;
}
.tile.grey,
.tile.blue,
.tile.red,
.tile.orange,
.tile.green {
    color: #fff;
}
.tile.grey {
    background: #A7A9AC;
}
.tile.grey:hover {
    background: #8E9093;
}
.tile.red {
    background: #D84110;
}
.tile.red:hover {
    background: #F15A29;
}
.tile.orange {
    background: #F78E1D;
}
.tile.orange:hover {
    background: #DE7504;
}
.tile .icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-bottom: -9px;
    margin-right: 5px;
}
.pen-icon{background: url(../images/icons/pen.png) right center no-repeat;background-size: 10px;}
.padlock-icon{background: url(../images/icons/padlock.png) right center no-repeat;background-size: 16px;}
.chat-icon{background: url(../images/icons/chat.png) right center no-repeat;background-size: 28px;}
 

.metro-link .fa {
    font-size: 0.8em;
    padding-top: 0.2em;
}

.row.actions .chat_intro > span {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.96em;
    text-align: center;
    height: 2.5em;
    line-height:2.5em;
    /*float: right;*/
}   

/*
* ================================================== 
*/

select option {
    background: #57585A;
}
.section-register .btn.btn-default,
.section-login .btn.btn-default {
    width: 180px;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
}
.btn.btn-default.sign-up {
    margin-right: 1em;
    color: #fff;
    border: none;
    width: 120px;
}
.btn.btn-default.join-chat{
    border:none;
    width: 120px;
}
.btn.btn-default.sign-up:before {
    background-color: #57585a;
    color: #fff;
}
.btn.btn-default.join-chat {
    color: #fff;
}
.btn.btn-default.join-chat:before {
    background-color: #f15a29;
    color: #fff;
}
.btn.btn-default > a {
    color: #333;
    font-weight: 700;
}
header .intro-text .intro-lead-in {
    font-family: 'Open Sans', Geneva, sans-serif;
    font-weight: 300;
    font-size: 3.45vw;
    line-height: 1.32em;
    text-transform: capitalize;
    margin-bottom:0;
}

.header-banner .company-logo,
.header-banner .header-advert {
    padding: 0px;
    margin: 0 auto;
    /*max-height: 200px;*/
}
.header-banner {
    background-color: #fff;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}
.header-banner .company-logo img,
.header-banner .header-advert img {
    max-height: 130px;
    text-align: center;
    margin: 0 auto;
    vertical-align: top;
}
.header-banner .company-logo img {
    padding-left: 10px;
    /*max-height: 130px;*/
}
.col-tight-left {
    padding-left: 0px !important;
}
/* chat-details-container */

.chat-details-container {
    padding: 50px 10px;
    color: #fff;
}
.parent.chat-details-container {
    padding: 5px 5px;
}
.chat-details-container.container-orange {
    background-color: #F78E1D;
}
.chat-details-container.container-grey {
    background-color: #808285;
}
.chat-details-container .row.this-chat {
    margin: 0;
}
.container-grey h1,
.container-orange h1 {
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 3.4em;
    padding-top: 0;
    margin-top: 0;
    line-height: 1em;
    padding-bottom: 0.4em;
}
.form-white {
    color: #fff;
}
.form-white .control-label {
    color: #000;
    background-color: #FFF;
    font-weight: 700;
    font-size: 0.72em;
}
.form-white .checkbox .control-label {
    background: none;
    color: #fff;
    font-weight: 600;
    font-size: 0.9em;
}
.form-white .form-control {
    border: 2px solid #FFF;
    background: none;
    color: #fff;
}
.form-white .form-control::-webkit-input-placeholder {
    color: #fff;
}
.form-white .form-control:-moz-placeholder {
    /* Firefox 18- */
    
    color: #fff;
}
.form-white .form-control::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #fff;
}
.form-white .form-control:-ms-input-placeholder {
    color: #fff;
}
.full-container {
    padding: 0px;
}
.full-container .row-metro .tile {
    margin-bottom: 0px;
}
.full-container .row-metro .metro-link {
    padding: 0px;
}
.right.carousel-control,
.left.carousel-control {
    background: none;
    background-color: none;
}
.bordered-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    border: 3px solid #fff;
    padding: 5px 9px;
    display: inline-block;
    font-weight: 400;
}
/*CHT BODY*/

.conversation-body {
    display: inline-block;
    padding: 1em 0;
    width: 100%;
    position: relative;
    min-height: 85vh;
}
.horizontal-rule {
    border-bottom: 3px solid gray;
    width: 100%;
    display: inline-block;
    /*margin-bottom: 13px;*/
}
.bordered-btns-container {
    display: block;
    text-align: center;
}
.bordered-btns-container .btn-bordered.btn-default {
    padding: 12px 5px;
    width: 40%;
    -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 1) !important;
    -moz-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 1) !important;
    box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 1) !important;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: bold;
    color: #fff;
    border-radius: 0;
}
/*.btn-bordered.btn-default:first-child {
    margin-right: 1.5em;
}*/
.btn-bordered.btn-grey {
    background-color: #808285;
    border: 1px solid #808285;
}
.btn-bordered.btn-orange {
    background-color: #F78E1D;
    border: 1px solid #F78E1D;
}
.archives_index_btn .archives-btn-bordered.btn-default {
    margin: 0;
    -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 1) !important;
    -moz-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 1) !important;
    box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 1) !important;
    background: none;
    color: #fff;
}
.archives-btn-bordered.btn-default:before {
     background: none; 
}

.main-chat-head h2 {
    color: #57585a;
    margin: 0;
    font-weight: 600;
    text-align: center;
}
.conversation-area {
    background-color: #F78E1D;
    position: relative;
    margin-bottom: 85px;
    /*margin-left: -15px;*/
    border-top: 2px solid #F78E1D;
    border-bottom: 2px solid #F78E1D;
    z-index: 15;
}
.conversation-area .posted-chat {
    padding-right: 8px;
    padding-left: 8px;
}
.chat-body {
    max-height: 270px;
    overflow-y: auto;
    margin-right: -15px;
}
.join_user .chat-body{
    max-height: 450px;
    min-height: 350px;
}
.user_settings {
    font-size: 1.7em;
    display: inline-block;
    line-height: 1em;
    float: right;
    height: auto;
    padding-top: 7px;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    color: #756B6B;
    box-shadow: 1px 2px 2px -1px RGBA(117, 107, 107, 0.7);
    border-radius: 3px;
}

.per-chat {
    color: #000;
    /*height: 3em;
    line-height: 3em;*/
    display: inline-block;
    height: 100%;
    width: 100%;
}
#area_active_chat {
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 200px;
}
.toggle_profile {
    color: #000;
    display: inline-block;
}

.per-chat .user-name {
    background-color: #fff;
    line-height: 21px;
    padding: 7px 5px 0;
    min-height: 37px;
    font-weight: 600;
    font-size: 14px;
}
.per-chat .conversation {
    border-top: 1px solid #FA8072 ;
    background-color: #fff;
    line-height: 21px;
    background-color: #fff;
    min-height: 37px;
    padding-top: 7px;
    padding-bottom: 4px;
    font-size: 14px;
    word-wrap: break-word;
}
.msg_time {
    float: right;
    color: #A52A2A;
    font-size: 0.9em;
}
.posted-chat-actions {
    padding-right: 0px;
    text-align: center;
    height: 2em;
    line-height: 3em;
}
.posted-chat-actions .axn {
    /*width: 40%;*/
    padding: 5px;
    margin: 0;
    display: inline-block;
    background: none;
    border: 0;
    text-align: center;
    font-size: 1em;
}
.posted-chat-actions .axn:hover {
    color: #FED136;
    cursor: pointer;
}
.posted-chat-actions .conversation-checkbox {
    margin-right: 10px;
}
.filtered_messages_parent {
    border-top: 2px solid #F78E1D;
    display: block;
    /* width: 101.4%; */
    padding-top: 0px;
    text-align: center;
    background-color: #FFFFFF;
    margin-bottom: 0.1em;
    margin-left: -1em;
    /* border-bottom: 2px solid #F78E1D; */
    /* box-shadow: 0 4px 12px -4px #57585A; */
    padding: 10px 0;
}
.filtered_messages_parent h3 {
    color: #57585A;
    font-size: 1.2em;
    font-weight: 600;
}

.filtered_messages_container {
    /* position: absolute; */
    /* top: 500px; */
    /* display: block; */
    /* width: 102.52%; */
    background-color: #F78E1D;
    margin-left: -15px;
    padding-left: 1em;
    margin-right: -15px;
}
.filtered_messages {
    min-height: 185px;
    overflow-y: auto;
    text-align: left;
    max-height: 185px;
}
/*======*/

.online-users-list {
    display: inline-block;
    color: #000;
}
.online-users-list-container {
    max-height: 500px;
    overflow-y: auto;
}
.online-users-intro {
    color: #000;
    padding: 10px 10px 10px 10px;
}
.online-users-intro .orange-header {
    color: #F78E1D;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.2em;
    /*width: 41%;*/
    display: inline-block;
    cursor: pointer;
    padding-top: 0.5em;
}
#user_stats {
    font-size: 0.9em;
    font-weight: 700;

}

/*#toggle_userslist {
    width: 148px;
}*/
.current-online-user.avatar-panel {
    width: 270px;
}

/*#toggle_userslist {
    width: 148px;
}*/

.current-user-avatar img.img-circle {
    max-width: 90px;
    width: 90px;
    height: 90px;
}
.current-online-user td {
    border: none !important;
}
.current-user-info > a {
    font-weight: 700;
}
.current-online-user .current-user-info {
    color: #000;
    text-align: right;
    padding: 8px 5px;
    vertical-align: middle;
}
.current-user-info .edit-profile-link {
    color: #00a79d;
    border-bottom: 1px solid #00a79d;
    padding-bottom: 2px;
    /*font-weight: 500;*/
    font-size: 14px;
}
.popover {
    border: none;
    border-radius: 0px;
    /*background: hsla(0, 0%, 50%, .7);*/
}
.popover.fade.top .thumbnail {
    border-radius: 0px;
    /*background: hsla(0, 0%, 66%, .8);*/
}
.bio-close-btn {
    color: #000;
    text-decoration: none;
    position: absolute;
    right: -3px;
    top: -4px;
}
.popover-content .caption p {
    font-size: 16px;
    margin: 3px 0;
}
.popover-content .caption p:first-child {
    font-weight: bold;
}
.popover-content .thumbnail {
    font-size: 19px;
    font-weight: normal;
}
.popover.fade.top .thumbnail img {
    max-width: 150px;
}
.exit-heading {
    color: #57585a;
    display: block;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}
.exit-heading:hover {
    color: #A52A2A;
}
.current-user-avatar,
.online-user-avatar {
    background-color: #f5f5f5;
}
.online-users-list-container .online-user-panel {
    margin-bottom: 2px;
    border: none;
    /*max-width: 300px;*/
}
.online-users-list-container tr {
    /*cursor: pointer;*/
    padding: 0 4px 0 0;
    /*max-width: 300px*/
}
.online-users-list-container .online-user-panel .online-user-avatar {
    padding: 2px;
}
.online-user-avatar img.img-circle {
    max-width: 55px;
    width: 55px;
    height: 55px;
    display: inline-block;
    /*margin-right: -20px;*/
}
.online-user-panel .online-user-info {
    background-color: #CACACA;
    vertical-align: middle;
    color: #000;
    text-transform: capitalize;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
}
.online-user-container .avatar-panel,
.online-users-list-container .avatar-panel {
    padding: 1px 2px;
}
.chat-form {
    background-color: #fff;
    display: inline-block;
    width: 100%;
    margin-left: -15px;
    position: absolute;
    bottom: -70px;
}
.join_user .chat-form {
    bottom: -60px;
}
.chat-form-input,
.chat-form-input-btn {
    height: 2.35em;
    line-height: 1.5em;
    font-size: 24px;
}
.chat-form-input-btn.btn.btn-default {
    padding: 6px 32px;
    border: none;
    background-color: #CACACA;
}
.chat-form-input-btn.btn.btn-default:before {
    background-color: #CACACA;
}

.chat-form-input-btn.btn.btn-default:hover {
    background-color: #756B6B;
    border: none;
}
/*.chat-form-input-btn:hover > span.glyphicon {
    transform: translateX(6px);
    -webkit-transform: translateX(6px);
    }*/
/*bootstrap carousel*/
/*.carousel-section {
    background-color: #FD8;
    }*/
/*.carousel-control.right,
.carousel-control.left{
  background-image: none;
  }*/
/*.carousel-container{*/
/*background-color: #FD8;*/
/*}*/

.carousel-section .carousel-section-head {
    font-size: 1.6em;
    color: #6B6964;
    font-weight: 400;
    text-align: left;
    /*padding-bottom: 6px;*/
    text-transform: capitalize;
    margin-bottom: 0;
}
.carousel-caption {
    bottom: -200px;
    transition: bottom 1s ease;
}
.active .carousel-caption {
    bottom: -10px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-shadow: none;
}
.carousel-content {
    text-align: left;
    color: orange;
}
.carousel-inner h2 {
    display: inline;
    font-size: 26px;
    color: orange;
    font-weight: 400;
}
.carousel-inner p {
    color: #000;
    font-size: 1em;
    padding-left: 27px;
    font-weight: normal;
}
.carousel-container .carousel-inner {
    height: 150px;
    color: #000;
}
.carousel-container .item {
    text-align: center;
}
.footer-section {
    background-color: #57585a;
    font-size: 12px;
    padding: 10px 0;
    color: #fff;
    position: absolute;
    width: 100%;
    /*bottom: -60px;*/
    /*height: 60px;*/
}
.footer-section .year {
    display: inline;
}
.footer-section a {
    color: #fff;
}
.footer-section a:hover {
    color: #F78E1D;
}
.form-horizontal .control-label {
    margin-left: 15px;
    margin-right: 15px;
}
#loadOldMsgs {
    width: 98%;
    font-weight: bold;
    margin-bottom: 1em;
}
.current-user-avatar > span {
    width: 100%;
    display: table;
    background-color: #D4D4D4;
    border-radius: 50%;
    height: 100%;
}
.chat-details-container > .container {
    width: 100%;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #424141;
}
.about-chat {
    margin-top: 2.5em;
}
.container-grey .form-horizontal .form-group,
.container-orange .form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}
.has-error .help-block {
    background-color: #fff;
    padding-left: 0.4em;
}
.likeclass, .tweet_msg {
    display: inline-block;
    position: relative;
    width: 47%;
}
.ui.media-object.image {
    max-width: 200px;
    max-height: 200px;
}
.like_msg {
    width: 100%;
    z-index: 20;
}
.likecounter {
    font-size: 0.7em;
    position: absolute;
    bottom: -13px;
    left: 0px;
    width: 100%;
    z-index: 12;
}
.email_note {
    font-size: 1em;
    color: #fed136;
}
.registration-form input:focus,
.login-form input:focus {
    color: #fff;
}
.checkbox .control-label.agree_terms,
.checkbox .control-label.above_18 {
    padding: 20px 5px 0;
}
/*.chat_intro > span {
  padding: 6px 12px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  border:1px solid #F78E1D;
}

.chat_intro > span:hover {
  border:1px solid #fff;
}*/

#social {
    width: 26px;
    position: absolute;
    top: 0;
    right: 5px;
    z-index: 1000;
    display: block ;
}
#yt {
    margin-bottom: 0;
}
.social_media {
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}
#social ul {
    list-style: none;
    margin: 5px 0;
    padding: 0;
}
.j-media {
    display: block;
    width: 26px;
    height: 27px;
}
.social_media {
    width: 26px;
    height: 27px;
    margin-bottom: 4px;
    background-image: url(../images/social-media.png);
}
#fb {
    background-position: 0px 0px
}
#ln {
    background-position: 0px -31px
}
#tw {
    background-position: 0px -61px
}
#yt {
    background-position: 0px -92px
}
#fb:hover {
    background-position: 26px 0
}
#ln:hover {
    background-position: 26px -31px
}
#tw:hover {
    background-position: 26px -61px
}
#yt:hover {
    background-position: 26px -92px
}
.previous-chats {
    position:  relative;
}
.previous-chats .dummy {
    padding-top: 25%; /* forces 1:1 aspect ratio */
}

.previous-chats .img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align:center; /* Align center inline elements */
    font: 0/0 a;
}

.previous-chats .img-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.previous-chats .img-container img {
    vertical-align: middle;
    display: inline-block;
}

.events-slider.carousel-section {
    padding: 20px 1em 0;
    width: 90%;
    margin: 0 auto;
}
.event-slider-content {
    margin: 0 auto;
    padding: 0.4em 0.5em 1em;
    font-size: 1.35em;
}
.event-slider-content .event_title {
    font-weight: 600;
    font-size: 0.9em;
    margin-left: 1.55em;
    line-height: 1.1em;
}
.event-slider-content .event_title,
.event-slider-content .glyphicon {
    color: #F78E1D;
}
.events-slider .event_desc {
    margin-left: 1.5em;
    color: #6d6e71;
    margin-top: 0.3em;
    font-size: 0.93em;
}
.event-slider-content .slick-prev:before,
.event-slider-content .slick-next:before{
    color: #A7A9AC;
}
.chat-details-container .slick-prev:before,
.chat-details-container .slick-next:before {
    color: #fff;
}
.event-slider-content .slick-prev,
.event-slider-content .slick-next{
    font-size: 1em;
}

.event-slider-content .slick-prev:before,
.event-slider-content .slick-next:before,
.chat-details-container .slick-prev:before,
.chat-details-container .slick-next:before {
    font-family: monospace;
    font-size: 2.3em;
}

.chat-details-container .slick-dots li button:before{
    font-size: 12px;
}

.events-slider.carousel-section .carousel-section-head {
    padding-left: 1.2em;
}
.events-slider .slick-slide .glyphicon-record:before {
    position: absolute;
    margin-top: 2px;
}
/*modal*/

.standard.modal .pic {
    display: inline-block;
    float: left;
}
.standard.modal .header:not(.ui),
.ui.small.modal > .header:not(.ui) {
    font-size: 2.3em;
}
.standard.modal .ui.image {
    display: inline-block;
    float: left;
    margin-right: 1.8em;
    max-width: 150px;
    max-height: 150px;
}
.standard.modal > .content,
#transcriptsmodal > .chat_transcript {
    font-size: 1.7em;
}
.standard.modal .details {
    float: left;
    /*font-size: 1.3em;*/
    
    width: 55%;
    display: inline-block;
}
.standard.modal .ceo-name {
    color: #F78E1D;
    font-weight: 600;
    font-size: 1.2em;
}
.standard.modal .bio {
    font-size: 0.85em;
    margin-top: 0.5em;
    max-height: 200px;
    overflow-y: scroll;
}
.standard.modal .chat_info .chat_info_left,
.chat_details_page .chat_info_left {
    padding-right: 1em;
    display: inline-block;
    font-weight: 500;
    color: #F78E1D;
}
.chat_info > ul:first-child {
    padding-left: 0;
}
.standard.modal .chat_info .list-group-item {
    border-radius: 0px;
}
.standard.modal .chat_info .list-group-item.active,
.standard.modal .chat_info .list-group-item.active:hover,
.standard.modal .chat_info .list-group-item.active:focus,
.chat_details_page .list-group-item.active {
    background-color: #57585a;
    border-color: #57585a;
}
.body-content {
    max-width: 1200px;
    margin: 0 auto;
}
.chat_details_page .thumbnail,
.chat_details_page .list-group-item {
    border-radius: 0;
}
.chat_details_page .ceo_details h3 {
    font-weight: 500;
}
.chat_details_page .ceo_details .ceo_launcher {
    font-size: 1em;
    color: #000;
    border-radius: 0;
    padding: 0.5em;
    font-weight: 600;
}
.chat_details_page h1 {
    text-align: center;
    margin: 0;
    background-color: #F7961C;
    font-weight: 400;
    color: #fff;
    font-size: 1.6em;
    padding-left: 0.5em;
    padding-right:0.5em;      
}
.chat_trascript_page h1 {
    padding-left: 1em;
    padding-right:1em;      
}

.field-register-form-ageagree,
.field-register-form-ageagree .form-group,
.field-register-form-termsagree {
    margin-bottom: 0;
}
.make-block {
    margin: 2em 0 1em;
    display: inline-block;
}
.reset-email {
    background-color: #808285;
    padding: 4em 0 3em;
}
.panel-default {
    border-color: #fff;
    border-radius: 0;
}
.panel-default > .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #fff;
    border-bottom: 1px solid #d4d4d5;
    border-radius: 0;
    font-size: 1.5em;
    font-weight: 600;
}
..panel-default .panel-title {
    font-weight: 600;
}
.chat_transcript.panel-default > .panel-heading {
    font-size: 1.5em;
    font-weight: 600;
}
.user_profile {
    /*background-color: #808285;*/
    padding-top: 0.5em;
    min-height: 90vh;
}
.user_profile .panel.panel-default {
    background-color: #F78E1D;
    border: 1px solid #d4d4d5;
    border-bottom: none;
}
.user_profile .panel-default > .panel-heading {
    font-weight: 600;
    text-transform: uppercase;
}
.reset-email .panel.panel-default {
    background-color: #F78E1D;
    border: none;
}
.reset-email .panel .control-label {
    background-color: #fff;
    color: #000;
    font-weight: 700;
    width: 25%;
}

.reset-email .panel .btn-primary:before{
    background: #808285;
} 
 
.reset-email .panel .btn-primary{    
    border:none;
}

.container-orange p > a {
    color: #8B0000;
}
.container-orange p > a:hover {
    color: #fff;
}
.chats_slider_title {
    padding: 0 0 1em;
    background-color: #fff;
    text-align: center;
}
.chats_slider_title .text-center {
    font-weight: 400;
    margin: 0;
    font-size: 1.8em;
    text-transform: capitalize;
    color: #57585a;
}
.chat_trascript-header {
    margin: 1.2em 0 0;
    background-color: #F78F1E;
    padding: .4em 0;
    font-size: 1.4em;
    text-align: center;
    color: #fff;
}
.chat_trascript_page hr {
    border-top: 1px solid #fff;
}
.chat_trascript_page .chat_info.list-group {
    padding-right: 0;
}
.chat_trascript_page .panel-heading {
    background-color: #57585A;
    color: #fff;
    font-size: 1.4em;
    text-align: center;
    border-radius: 0;
}
.chat_trascript_page .panel-default {
    border-color: #d4d4d5;
    margin-top: 2em;
    font-size: 0.95em;
}
#table_parent {
    max-height: 500px;
}

.nofile {
    color: #333;
}

#ceos_section {
    margin-bottom: 0;
    padding-right: 0;
}

.ceos_section .ceo_thumbnail {
    position: relative;
}

.ceo_thumbnail .ceo_info {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.63);
    display: block;
    padding: 5px 3px 5px 15px;
    margin: 0 auto;
    width: 85%;
    color: #fff;
    text-align: left;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    bottom: 0;
    opacity:0;
    font-size: 0.8em;
    text-transform: uppercase;

}

.ceo_info > p {
    line-height: 1.5em;
}

.ceos_section .ceo_thumbnail > img {
    max-width: 200px;
    max-height: 200px;
    /*cursor: pointer;*/
    margin: 0 auto;
    text-align: center;
}
.ceos_section .ceo_thumbnail .carousel-section-head {
    font-weight: 700;
    text-align: left;
    font-size: 1em;
    text-transform: uppercase;
    color: #fff;
}

.ceo_thumbnail:hover .ceo_info {
    opacity:1;
    z-index: 1000;
    
}

.alert {
    text-align: center;
    font-weight: 600;
    margin: 0 auto;
    padding: 0.5em;
    border: none;
}

.reset-email.spacer:before {
        content: '';
        height: 6em;
}
.reset-email.spacer:after {
    content: '';
    height: 12em;
}
#users_active {
    display: none;
}
.col-xs-3.chat_intro:not(:first-child) {
    margin: 0;
    padding: 0;
}
/*.the_chat_details_page {
    background-color: #A7A9AC;
}*/
.yell_header{
    margin: 1.2em 0 0;
    background-color: #F78F1E;
    padding: .1em 0;
    font-size: 1.3em;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.chat-search {
    padding: 1.3em 0.5em 0.5em;
    text-align: center;
    margin: 0 auto;
    background-color: #A7A9AC;
}

.chat-search select option {
    background: #fff; 
}
.chat-search .btn.btn-primary {
    padding: 0.7em 1.5em;
    color: #fff;
    background-color: #57585A;
    font-size: 1em;
    margin-bottom: 0.85em;
}
.chat-search .btn.btn-primary:before {
    background-color: #57585A;
}
.archived_chat {
    text-align: center;
}

.archived_chat .topicinfo {
    text-align: left;
    font-size: 0.9em;
}

.archived_chat .topicinfo td:first-child {
    text-transform: uppercase;
}

.chat-index .archive_image {
    text-align: center;
    margin: 0 auto;
}
.chat-search .btn-primary,
.chat-search .form-control {
    border: none;
}

.chat-search .form-control,
.chat-search .btn {
    margin-bottom: 1em;
}

.chat-index .yell_header {
    margin-top: 1em;
}
.chat-index .topicinfo .table {
    margin-bottom: 0;
}
.details_sect > a {
    margin: 1em 0.5em 0;
}

.archived_chat .archive_chat_holder {
    border: none;
    text-align: center;
    margin: 0.5em 0;
}
.archived_chat hr {
    border-top: 1px solid #58585a;
    margin: 1em 0 0.5em;
}
.chat-details-container .container .row > .col-md-6 {
    margin-bottom: 2.5em;
}
.details_sect .btn-primary {
    color: #fff;
    background-color: #f58f30;
    border: none;
    font-weight: 100;
}

.details_sect .btn-primary:before{
    background-color: #f58f30;
}
.topicinfo tr {
    color: #58585a;
    font-size: 1.1em;
    font-weight: 500;
}
.details_sect {
    text-align: left;
}
.table-responsive, .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none !important;
}
.chat_info.list-group {
    padding-left: inherit;
}
/*#toggle_userslist {
    width: 100%;
    max-width: 290px;
}
*/
.slick-slide:focus {
    outline: none;
}


.checkbox input[type="checkbox"] {
    float: left;
    position: relative;
    text-align: center;
    margin: 12px auto 0;
}

.current-online-user.avatar-panel {
    margin: 0 auto;
    max-width: 300px
}
.main-chat-btns {
    float: right;
    padding:0 1em;
}

.posted-chat-actions .tweet_msg.axn {
    background: url(../images/icons/tweet.png) center center no-repeat;
    height: 24px;
}

.container-grey {
    background-color: #808285;
}
.main-chat-btns .media-body{
    vertical-align: bottom;
}

.chat_view_sec {
    margin: 1.5em -1em 1em;
}

.chat_view_sec .bordered-btns-container .btn-bordered.btn-default {
    padding: 21px 5px;
    -webkit-box-shadow: inset 0px 0px 0px 5px rgb(128, 130, 133) !important;
    -moz-box-shadow: inset 0px 0px 0px 5px rgb(128, 130, 133) !important;
    box-shadow: inset 0px 0px 0px 5px rgb(128, 130, 133) !important;
    font-size: 1em;
    margin-left: 1em;
    margin-bottom: 0.5em;
}

.chat_view_sec .btn-bordered.btn-grey {
    background-color: #A7A9AC;
    border: 1px solid #A7A9AC;
}

.chat_view_sec .ui.media-object.image {
    max-width: 130px;
    max-height: 130px;
}

.chat_view_sec .media-left {
    background-color: #f5f5f5;
    padding: 0.5em;
}

.list-group.no-border .list-group-item {
    border: none;
    background: none;
    color: #fff;
    font-weight: 600;
}

.match_height .breath{
    padding:0.5em 0 0.5em;
}

/*.load_trans {
    display: inline-block;
    width: 100%;
    margin: 0.5em 0;
    display: none;
}*/

.load_trans_btn {
    background: url(../images/icons/transcripts.png) left center no-repeat;
    padding-left: 38px;
    color: #A7A9AC;
    background-size: 25px;
    line-height: 31px;
    height: 30px;
    display: block;
    font-weight: 600;
    cursor: pointer;
}

.breadcrumb {
    padding: 1em;
    border-radius: 0;
    background: none;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
    padding-left: 0;
}
.breadcrumb > li:first-child:before {
    content: "<<";
    font-size: 1em;
    padding-right: 0.5em;
    color: #A7A9AC;
}

.breadcrumb > .active {
    color: #f58f30;
}
.breadcrumb a {
    color: #A7A9AC;
}

.breadcrumb > li + li:before {
    content: "|";
}

.btn-bordered.btn-grey:hover {
    background-color: #9A9A9A;
}
.btn-bordered.btn-orange:hover {
    background-color: #E28816;
}

.loginout {
    /* display: inline-block; */
    /* background-color: #F7961C; */
    /* padding-left: 3em; */
    line-height: 2.5em;
    /* text-align: left; */
    line-height: 2.5em;
}
.page-title {
    text-align: center;
    margin: 0;
    background-color: #F7961C;
    font-weight: 400;
    color: #fff;
    /* font-size: 1.6em; */
    padding: 0.4em 0.5em;
    width: 100%;
    display: block;
    overflow: hidden;
}
.page-title .page-header {
    padding: 0 0.2em;
    display: inline-block;
    text-align: center;
    margin: 0;
    background-color: #F7961C;
    font-weight: 400;
    color: #fff;
    font-size: 1.6em;
    border: none;
    line-height: 1.6em;
}


.loginout > a {
    color: #fff;
    font-weight: 600;
    font-size: 0.8em;
    border: 2px solid #fff;
    padding: 0.25em 0.75em;
}

.ias-noneleft {
    width: 100%;
    padding: 2em 1em;
    display: inline-block;
    text-transform: uppercase;
}

.make-responsive > img {
    width: 100%;
    max-width: 300px;
}
.ias-trigger a {
    padding: 0.7em 2em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #a7a9ac;
    /*width: 45%;*/
    display: inline-block;
}
.ias-trigger {
    width: 100%;
    display: inline-block;
    padding: 1em 0;
}

.ias-spinner{
    width: 100%;
    display: inline-block;
    height: 80px;
}

.row.actions {
    margin: 0;
}

.sjaakp-preview{
    border-radius: 0;
}


.form-group.field-profile-avatar > .col-sm-9 {
    width: 100%;
}
.uploader-aspect {
    float: none;
    margin: 0 auto;
    text-align: center;
    clear: both;
    margin-bottom: 1em;
    text-align: left;
    padding-left: 29%;
}


.col-md-4.photo_uploader {
    width: 265px;
}

#account-form .form-group {
    margin-left: 0;
}

.text-muted {
    color: rgb(82, 78, 78);
    font-size: 0.8em;
    text-align: center;
}
 
 .events-slider .slick-prev:before,
 .events-slider .slick-next:before,
 .chat_summary_slider .slick-prev:before,
 .chat_summary_slider .slick-next:before{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: 30px;
}


.events-slider .slick-prev:before {
    background: url(../images/icons/arrow-left.png) center center no-repeat;
    content:'';
    background-size: 30px;
}
.chat_summary_slider .slick-prev:before {
    background: url(../images/icons/wt-arrow-left.png) center center no-repeat;
    content:'';
    background-size: 30px;
}

.events-slider .slick-next:before {
    background: url(../images/icons/arrow-right.png) center center no-repeat;
    content:'';
    background-size: 30px;
}
.chat_summary_slider .slick-next:before {
    background: url(../images/icons/wt-arrow-right.png) center center no-repeat;
    content:'';
    background-size: 30px;
}

.profile_view .form-white .col-md-9 {
    display: inline-block;
    height: auto;
    color: #000;
    /* background-color: #fff; */
    /* font-weight: 600; */
    /* box-shadow: 3px -23px 0 7px red; */
    max-height: 300px;
    overflow-y: auto;
}

.profile_view .make-responsive {
    margin: 0 auto 1em;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.user_profile .container {
    width: 100%;
}

.chat-search form {
    padding: 0 1.5em;
}

.ui.popup {
    border-left: none;
    padding: 0;
    border-bottom: none;
    border-radius: 0;
    border-right: none;
}
.ui.popup .current-online-user .table-responsive {
    margin-bottom:0;
}
.tile.join_chat {
    position: relative;
}
.tile.join_chat {
    padding-bottom: 10px;
    padding-top: 30px;
}
#tilehelper {
    display: inline-block;
    font-size: 0.55em;
    width: 100%;
    padding: 0;
    position: absolute;
    left: 0;
    top: 6px;
}
/*#spec-chat-page {
    margin-top: -40px; 
}*/

.user_profile .breadcrumb, .join_user .breadcrumb, .join_admin .breadcrumb {
    padding-left: 2em;
}

.back-to-top {
    background: url(../images/icons/up-arrow.png) center 10px no-repeat #57585A;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 60px;
    right: 5px;
    text-decoration: none;
    color: #fff!important;
    /* background: #57585A; */
    /* font-size: 12px; */
    display: none;
    font-weight: bold;
    text-align: center;
    padding: 0px;
    z-index: 100;
    cursor: pointer;
    background-size: 30px;
}
/*.back-to-top span {
    display: block;
    position: relative;
    background: #F78E1D;
    height: auto;
    padding: 0px;
    margin-top: 0px;
}
*/
.search_btn .ui.button {
    margin: 0;
    padding: 0.5em 0.3em 0.5em 1em;
    border-radius: 0;
    position: absolute;
    right: 1.7em;
}
.ui.modal {
    border-radius: 0;
}


.col-sm-3.col-xs-6.chat_intro:not(:first-child){
    padding-left: 0;
    padding-right:0;
}

.standard.modal .header{
    padding:0.25em;
}
.ui.modal > .actions{
    padding: 0;
}
.ui.modal .actions > .button {
    margin-right: 0;
}

.thumbnail .ui.image {
    display: block;
    border-radius: 0;
}

.row.row-metro {
    margin: 0;
}
.chat_details_page,
.chat-index.row {
    margin:0;
}
.wrapper > .row {
    margin: 0;
}
#spec-chat-page > .row {
    margin: 0;
}
#chat_summary_slider {
    width: 85%;
    margin: 0 auto;
}
.ceo-banners.carousel-section {
    border-top: 6px solid #F78E1D;
}

.site-error {
    min-height: 75vh;
    width: 80%;
    margin: 1em auto;
}

#user_feed > tr,
#user_feed_active > tr {
    max-width: 270px !important;
    display: inline-block;
}


.download_link {
    float: right;
}


/* START MEDIA QUERIES */
/*greater than 992*/

@media (min-width: 992px) {
    header {
        height: calc(100vh - 203px);
    }
    header .container {
        width: calc(100% - 25vh);
    }
    .chat_details_page{
        min-height: 85vh;
    }

    .chat_view_sec .bordered-btns-container .btn-bordered.btn-default {
        margin-top: 0;
    }

    .current-online-user.avatar-panel {
        position: absolute;
        left: 0;
        z-index: 10;
        width: 100%;
        max-width: 100%;
    }

    .current-online-user .table {
        max-width: 300px;
        margin-left: 0.55em;
    }
    .online-users-intro {
        margin-top: 110px;
    }
    .chat-details-container {
        padding: 30px 150px;
    }
    .conversation-area {
        margin-bottom: 40px;
    }
    .bordered-btns-container {
        text-align: left;
    }
    /*.current-online-user.avatar-panel {
        width: 243px;
        float: right;
    }*/
    .main-chat-btns {
        margin-top: -3em;
    }
    .main-chat-head h2 {
        margin: 4px 0 -11px 15px;
        text-align: left;
    }
    .online-user-container .avatar-panel,
    .online-users-list-container .avatar-panel {
        padding: 0;
    }
    .about-chat {
        margin-top: 0;
    }
    .events-slider.carousel-section {
        padding: 20px 0 0;
        width: 85%;
    }
    .spacer:before {
        content: '';
        height: 6em;
    }
    .spacer:after {
        content: '';
        height: 12em;
    }
    .spacer-sm:before {
        content: '';
        height: 2em;
    }
    .spacer-sm:after {
        content: '';
        height: 9em;
    }
       
    /*.alert {
        width: 78%;
    }*/
    
    /*#social{
        display: block;
    }*/
    .chat_details_page {
        padding-bottom: 3em;
    }

    .chat-search .form-control {
        max-width: 230px;
    }

    #profile-bio{
        height: 300px;
    }
    
    .chat-details-container .container .row > .col-md-6 {
        margin-bottom: 1em;
    }
    .chat_info.list-group {
        padding-left: 0;
    }
    header .intro-text {
        width: 97%;
        margin: 0 auto;
        /*height: 590px;*/
    }

    .online-users-list-container tr {
        padding: 3px 0 3px 0;
    }
        
    .container-grey.chat_view_sec{
        margin-left: 1.5em;
        margin-right: -0.8em;
        display: table;
    }
    .container-grey.chat_view_sec .holder {
        display: table-cell;
        vertical-align: middle;
    }
    .chat_view_sec {
        margin-top: 0;
    }

    .user_profile .container {
        width: 93%;
    }
    
    .height-spacer:before {
        content: '';
        height: 4em;
    }
    
    .ias-trigger a {
        width: 25%;
    }


    .row.actions > .chat_intro:first-child > span {
        text-align: left;
        float: left;
        margin-left: -1em;
    }

    .row.actions > .chat_intro:last-child > span {
        text-align: right;
        float: right;
    }

    .footer-section .copyright{
        float: left;
    }
    .footer-section .quicklinks {
        float: right;
    }
    
    .page-title .page-header {
        margin-right: -5em;
        width: 100%;
    }


}
/*@media 992*/
/*greater than 768*/

@media (min-width: 768px) {
    header .intro-text {
        padding-top: 1.3em;
        padding-bottom: 1em;
        font-size: 30px;
    }
    
    .chat-details-container {
        padding: 0px;
    }

    #user_register,
    #user_login,
    .reset-email,
    .wrapper {
        height:auto;
        min-height: 90vh;
    }
    .chat-details-container.container-orange,
    .chat-details-container.container-grey {
        padding: 40px 0px 50px;
    }
    .per-chat .conversation {
        border-top: none;
    }
    .conversation-area {
        margin-left: 0px;
        margin-bottom: 60px
    }
    .current-online-user .current-user-info {
        padding-right: 1em;
    }
    .form-white .checkbox .control-label {
        padding-left: 0;
    }
    /*.header {
    height: 560px;
  }*/
/*    .per-chat {
        margin-bottom: -8px;
    }*/
    .form-horizontal .control-label {
        margin-left: 0px;
        margin-right: 0px;
    }
    .container-grey .form-horizontal .form-group,
    .container-orange .form-horizontal .form-group {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .field-register-form-ageagree label,
    .field-register-form-termsagree label {
        font-weight: 400;
        text-transform: none;
        font-size: 1em;
        padding: 0;
    }

    @-moz-keyframes icon-down {
      0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
      }
      40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
      }
      60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
      }
    }
    @-webkit-keyframes icon-down {
      0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
      }
      60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
      }
    }
    @keyframes icon-down {
      0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
      }
      60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
      }
    }
    .intro-text .icon-down {
      -moz-animation: bounce 2s infinite;
      -webkit-animation: bounce 2s infinite;
      animation: bounce 2s infinite;
    }

    .intro-text .icon-down {
        background: url(../images/icons/arrow-down.png) right center no-repeat;
        display: inline-block;
        width: 50px;
        height: 50px;
        background-size: 50px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        margin-left: -20px;
        cursor:pointer;
    }
    .bounce-holder {
        display: inline-block;
        position: relative;
        margin-top: 3em;
        width: 100%;
    }
    
    #spec-chat-page {
        /*margin-top: -40px; */
        width: 100%;
        /*margin-left: -1.5%;*/
    }

    .online-users-list-container {
        padding: 0 0 0 0.6em;
    }
    
    .btn-bordered.btn-default:first-child {
        margin-right: 0.5em;
    }
    
    .chat_view_sec {
        padding: 1.5em;
        width: 105.7%;
    }  
    
    .join_user .chat-body {
        max-height: 450px;
        min-height: 450px;
    }
        
    /*.chat_view_sec .bordered-btns-container .btn-bordered.btn-default {
        width: 42.8%;
    }*/
    .chat-index .archive_image {
        height: 290px;
        border: none;
    }
    
    .page-register.chat-details-container > .container,
    .page-login.chat-details-container > .container {
        width: 85%;
    }  
    
   

}       
/*@media 768*/

@media (min-width: 1200px) {
    .chat_trascript_page .container {
        width: 92%;
    }
    .user_profile .container {
        width: 92%;
    }

    .container {
        width: 80%;
    }
    .conversation-area  {
        float: left;
        z-index: 15;
    }
    .user_profile,
    .container-orange:not(.chat-details-container.container-orange),
    .reset-email {
        min-height: 662px;
    }
    
    .event-slider-content .slick-slide {
        margin-left: 4.5em;
    }

    .events-slider.carousel-section .carousel-section-head {
        padding-left: 5em;
    }


}
/*@media 1200*/

@media (max-width: 768px) {
    .form-horizontal .control-label {
        padding-left: 0;
        background: none;
        color: #fff;
        font-weight: 600;
    }
    .email_note {
        margin: 0.5em 0 1.5em;
    }
    .per-chat .message_content {
        margin: 0 0 0 -1em;
        padding: 0 0 0 1em;
    }
    .spacer:before {
        content: '';
        height: 6em;
    }
    .spacer:after {
        content: '';
        height: 12em;
    }
    .form-white .checkbox .control-label {
        padding-left: 15px;
        width: 60%;
        float: left;
    }
    .checkbox input[type="checkbox"] {
        float: left;
        position: relative;
        text-align: center;
        margin: 12px auto 0;
    }
    .conversation-area{
          display: inline-block; 
          width: 100%;    
    }
    .main-chat-head h2 {
        font-size:1.4em;
        font-weight: 700; 
    }

    .join_user .main-chat-head h2,
    .join_admin .main-chat-head h2 {
        margin: 0;
    }
    .join_user .main-chat-head,
    .join_admin .main-chat-head {
        display: block;
        width: 100%;
        margin: 0 0 1em;
    }

    /*.current-online-user.avatar-panel {
        width: 300px;
    }*/
    
    .breadcrumb {
        padding-left: 2em;
    }

    .per-chat .user-name {
        background-color: #fff;
        line-height: 10px;
        padding: 8px 5px;
        font-weight: 600;
        font-size: 0.95em;
        max-width: 40%;
        min-height: auto;
    }
    
    .chat_details_page .container{
        width: 99%;
    }
    #events_section > .container {
        width: 100%;
    }
    #spec_chat_details > .container {
        width: 100%;
        padding: 0;
    }

    #spec_chat_details .chat_info.list-group {
        padding: 1em;
    }
    #podcasts_section {
        margin: 0;
    }
    #podcasts_section > .container {
        width: 95%;
    }
    
    #the_chat_transcript {
        width:80%;
        margin-left: auto;
        margin-right: auto;
    }
    .chat_view_sec {
        padding: 1em;
    }
    
    .archives_index_btn {
        margin-top: 2em;
    }
    .row.actions .chat_intro {
        margin-bottom: 0.5em;
    }

    .table-responsive > .table > thead > tr > th, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > td {
        white-space: normal;
    }
    .col-md-4.photo_uploader {
         margin: 0 auto; 
        text-align: center;
         float: none; 
    }
    .cropper{
        float: none;
    }
    .col-sm-3.col-xs-6.chat_intro{
        padding-left: 0;
        padding-right:0;
    }
    
    #login-form > .col-sm-6 {
        padding: 0;
    }
    .col-sm-3.col-xs-6.chat_intro:nth-child(even)  > span{
        float: right;
    }
    header .intro-text {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    
}
/*@media max 768px*/

@media (max-width: 480px) {
    .section-register .btn.btn-default,
    .section-login .btn.btn-default {
        width: inherit;
    }
    .carousel-section.row{
        display: none;
    }
    .email_note {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    
    .media .media-left {
        display: block;
        width:100%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 1em;
    }

    .ui.media-object.image {
        text-align: center;
        margin: 0 auto;
    }
    .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
        margin-top: 0.5em;
        margin-right: 0.7em;
    }
    .btn.btn-default.sign-up{
        margin-right: 0;
    }
    
}
/*@media max 480px*/