/* @import url(https://fonts.googleapis.com/css?family=Raleway:Regular); */
@font-face
{
    font-family: 'Nunito-Black';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/Nunito-Black.ttf');
}
@font-face
{
    font-family: 'Nunito-Bold';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/Nunito-Bold.ttf');
}
@font-face
{
    font-family: 'Nunito-ExtraBold';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/Nunito-ExtraBold.ttf');
}
@font-face
{
    font-family: 'Nunito-ExtraLight';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/Nunito-ExtraLight.ttf');
}
@font-face
{
    font-family: 'Nunito-Light';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/Nunito-Light.ttf');
}
@font-face
{
    font-family: 'Nunito-Medium';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/Nunito-Medium.ttf');
}
@font-face
{
    font-family: 'Nunito-Regular';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/Nunito-Regular.ttf');
}
@font-face
{
    font-family: 'Nunito-SemiBold';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/Nunito-SemiBold.ttf');
}
html{
    position: relative;
    min-height: 100%;
}
/**/
a, a:active, a:focus, a:hover, a:visited, a:link
button, button:active, button:focus{
    outline: none; /* Works in Firefox, Chrome, IE8 and above */
    text-decoration: none;
}
* {
    margin: 0;
}1
html,
body {
    height: 100%;
    width: 100%;
    height: auto;
}
body{
    /*margin-bottom: 60px*/
    height: 100%;
    min-height: 100vh;
}
hr{
    border-top: 1px dashed #eee;
}
@media (min-width: 768px) {

.wrapper {
    min-height: 92.5%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;

}
}
.footer-section,
.push {
    clear: both;
}
body {
    font-family: "Nunito-Regular";
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 400;
}
p,
span,
a,
ul,
li,
button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}
strong {
    font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:  "Nunito-Regular";
    line-height: 1.5em;
    font-weight: 400;
}
strong {
    font-weight: 400;
}
a {
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    color: #fff;
}
a:hover,
a:focus,
a:active,
a.active {
    color: #ffffff;
}
.well-chat {
    background-color: #f48e31;
    border: 1px solid #f48e31;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
.modal {
    bottom: auto;
}
input:checked + label { color: green; }

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background:none;
    color:#f7ceaa;
}
.nav-pills li a {
    border-radius: 0;
    /*background-color: #FFF;*/
    color: #ffffff;
    text-transform: initial;
    font-weight: 600;
}

.nav > li > a:hover, .nav > li > a:focus{

    text-decoration: none;
    background-color: #f7ceaa;
}
/*.user_profile .profile_edit .panel-body {
    max-width: 700px;
    margin: 0 auto;
}*/
/*.user_profile .profile_edit .panel-body {
    max-width: 600px;
    margin: 0 1em;
}*/
.navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
    margin-bottom: 0px;
    height:140px;
    margin-right: -15px;
     margin-left: -15px;

}
.btn{
    text-transform: uppercase;
}
.btn-primary {
    color: #fff;
    background-color: #112d42;
    border-color: #112d42;
}
.btn-default:hover {
    color: #fff;
    background: transparent;
    border-color: #fff;
}
.btn-default{
    border-color: #fff;
    font-weight: 600;
    color: black;
    background-color: #ffffff;
}
.btn-default:hover {
    border-color: #fff;
    font-weight: 600;
    color: black;
    background-color: #d4d4d5;
}
}

.btn-default:before {
    background: #fff;
}
/*.btn-default:hover .btn-default:before {
    background-color: transparent;
    color: #333;
}*/
.btn-primary,
.btn-primary:hover {
    border:none;
}
.btn-primary:before {
    background: #C47117;
}
.btn-primary:hover {
    color: #fff;
    background: none;
}
.btn.btn-primary.btn-block:hover {
    background-color: #71757B;
    border-color: none;
}
.btn-success{
    border-color: #28be68;
}
.btn-success:before {
    background: #03C48F;
}
.btn-success:hover {
    color: #fff;
    background: #03C48F;
    border-color: #398439
}
.btn-info,
.btn-info:hover {
    border-color: #acb2b7;
}
.btn-info:before {
    background: #bdc3c7;
}
.btn-info:hover {
    color: #000;
    background: transparent;
}
.btn-warning,
.btn-warning:hover {
    border-color: #c54e00;
}
.btn-warning:before {
    background: #c54e00;
}
.btn-warning:hover {
    color: #fff;
    background: transparent;
}
./*btn-danger,
.btn-danger:hover {
    border-color: #b53224;
}
.btn-danger:before {
    background: #b53224;
}
.btn-danger:hover {
    color: #fff;
    background: transparent;
}*/
.ui.button {
    font-size: 1.4em;
    color: #000;
    background-color:#a6cb45;
    border-color: #a6cb45;
    border-radius: 25px;
}

.ui.button:hover {
    background-color: #a6cb45;
    background-image: none;
    box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
    color: rgba(0, 0, 0, 0.8);
}
.medium-bold {
    font-weight: 600;

}
.tile {
    color: #fff;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
}
.tile .title {
    display: inline;
    margin-top: 0px;
    text-align: center;
    font-size: 0.65em;
}
.tile.grey,
.tile.blue,
.tile.red,
.tile.orange,
.tile.green {
    color: #fff;
}
.tile.grey {
    background: #A7A9AC;
}
.tile.grey:hover {
    background: #8E9093;
}
.tile.red {
    background: #D84110;
}
.tile.red:hover {
    background: #F15A29;
}
.tile.orange {
    background: #F78E1D;
}
.tile.orange:hover {
    background: #DE7504;
}
.tile .icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-bottom: -9px;
    margin-right: 5px;
}
.pen-icon{background: url(../images/icons/pen.png) right center no-repeat;
    width: 60px;
    height: 60px !important;
    background-size: 100% 100%;


}
.padlock-icon{background: url(../images/icons/lock.png) right center no-repeat;
     width: 60px;
    height: 60px !important;
    background-size: 100% 100%;
}
.chat-icon{background: url(../images/icons/chat.png) right center no-repeat;
 width: 60px;
    height: 60px !important;
    background-size: 100% 100%;
}
.help-icon{background: url(../images/icons/help.png) right center no-repeat;
     width: 60px;
    height: 60px !important;
    background-size: 100% 100%;

}


.metro-link .fa {
    font-size: 0.8em;
    padding-top: 0.2em;
}

.row.actions .chat_intro > span {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.96em;
    text-align: center;
    height: 2.5em;
    line-height:2.5em;
    /*float: right;*/
}

/*
* ==================================================
*/

select option {
    background: #ffffff;
}
.section-register .btn.btn-default,
.section-login .btn.btn-default {
    width: 180px;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
}
.btn.btn-default.sign-up {
    margin-right: 1em;
    color: #fff;
    border: none;
    width: 120px;
}
.btn.btn-default.join-chat{
    border:none;
    width: 120px;
}
.btn.btn-default.sign-up:before {
    background-color: #57585a;
    color: #fff;
}
.btn.btn-default.join-chat {
    color: #fff;
}
.btn.btn-default.join-chat:before {
    background-color: #f15a29;
    color: #fff;
}
.btn.btn-default > a {
    color: #333;
    font-weight: 700;
}header .intro-text .intro-heading {
    font-family: "Nunito-Bold";
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
    text-align: center;
}
header .intro-text .intro-lead-in {
    font-family:  "Nunito-Bold";
    font-weight: 300;
    font-size: 1.56em;
    line-height: 1.32em;
    text-transform: capitalize;
      text-align: center;
}

.header-banner .company-logo,
.header-banner .header-advert {
    padding: 0px;
    margin: 0 auto;
    /*max-height: 200px;*/
}
.header-banner {
    background-color: #fff;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}
.header-banner .company-logo img,
.header-banner .header-advert img {
    max-height: 130px;
    text-align: center;
    margin: 0 auto;
    vertical-align: top;
}
.header-banner .company-logo img {
    padding-left: 10px;
    /*max-height: 130px;*/
}
.col-tight-left {
    padding-left: 0px !important;
}
/* chat-details-container */

.chat-details-container {
    padding: 50px 10px;
    color: #fff;
}
.parent.chat-details-container {
    padding: 0px 0px;
}
.chat-details-container.container-orange {
    background-color: #F78F1E;
}
.chat-details-container.container-grey {
    background-color: #ffffff;
}
.chat-details-container .row.this-chat {
    margin: 0;
}
.edition-details-container {
    padding: 0 10px;
    color: #000;
}
.parent.edition-details-container {
    padding: 0px 0px;
}
.edition-details-container.container-orange {
    background-color: #F78F1E;
}
.edition-details-container.container-grey {
    background-color: #ffffff;
}
.edition-details-container .row.this-chat {
    margin: 0;
}
.edition-image{
  opacity: 1;
   display: block;
   width: 100%;
   height: auto;
   transition: .5s ease;
   backface-visibility: hidden;


}
.edition-middle{
  transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* text-align: center; */
    width:100%


}
.home_image_holder:hover .edition-image{
opacity: 0.4;
}
.home_image_holder:hover .edition-middle{
  opacity: 1;
}
.edition-text{
  color: white;
  font-size: 15px;
  padding: 16px 32px;
}
.container-grey h1,
.container-orange h1 {
    color: #000;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 2em;
    padding-top: 0;
    margin-top: 0;
    line-height: 1em;
    padding-bottom: 0.4em;
}
.container-orange h1 {
    color:#000;
    }
.form-white {
    color: #000;
    padding-top:30px;


}
.form-white .control-label {
    color: #000;
    background-color: #FFF;
    font-weight: 700;
    font-size: 0.72em;
}
.form-white .checkbox .control-label {
    background: none;
    color: #000;
    font-weight: 600;
    font-size: 0.9em;
}
.form-white .form-control {
    border: 2px solid #E6E7E8;
    background: #E6E7E8;
    color: #000;
}


.form-white .form-control::-webkit-input-placeholder {
    color: #000;
}
.form-white .form-control:-moz-placeholder {
    /* Firefox 18- */

    color: #000;
}
.form-white .form-control::-moz-placeholder {
    /* Firefox 19+ */

    color: #000;
}
.form-white .form-control:-ms-input-placeholder {
    color: #000;
}
.form-white h1{
     padding-left: 5px;
     color:#DB740E;
}
.form-black {
    color: #000;

}
.form-black .control-label {
    color: #000;
    background-color: #FFF;
    font-weight: 700;
    font-size: 0.72em;
}
.form-black .checkbox .control-label {
    background: none;
    color: #000;
    font-weight: 600;
    font-size: 0.9em;
}
.form-black .form-control {
    border: 2px solid #F1F1F2;
    background: #F1F1F2;
    color: #000;
}

.form-black .form-control::-webkit-input-placeholder {
    color: #000;
}
.form-black .form-control:-moz-placeholder {
    /* Firefox 18- */

    color: #000;
}
.form-black .form-control::-moz-placeholder {
    /* Firefox 19+ */

    color: #000;
}
.form-black .form-control:-ms-input-placeholder {
    color: #000;
}
.form-black h3{
     color:#000;
     font-size:inherit;
}
.full-container {
    padding: 0px;
    background:rgb(178,87,6,0.45) none repeat scroll 0% 0%;
}
.full-container .row-metro .tile {
    margin-bottom: 0px;
}
.full-container .row-metro .metro-link {
    padding: 0px;
}
.right.carousel-control,
.left.carousel-control {
    background: none;
    background-color: none;
}
.bordered-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    border: 3px solid #fff;
    padding: 5px 9px;
    display: inline-block;
    font-weight: 400;
}
/*CHT BODY*/

.conversation-body {
    display: inline-block;
    padding: 1em 0;
    width: 100%;
    position: relative;
    min-height: 85vh;
}
.horizontal-rule {
    border-bottom: 3px solid gray;
    width: 100%;
    display: inline-block;
    /*margin-bottom: 13px;*/
}
.bordered-btns-container {
    display: block;
    text-align: center;
}
.bordered-btns-container .btn-bordered.btn-default {
    padding: 12px 5px;
    width: 40%;
    -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 1) !important;
    -moz-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 1) !important;
    box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 1) !important;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: bold;
    color: #fff;
    border-radius: 0;
}
/*.btn-bordered.btn-default:first-child {
    margin-right: 1.5em;
}*/
.btn-bordered.btn-grey {
    background-color: #808285;
    border: 1px solid #808285;
}
.btn-bordered.btn-orange {
    background-color: #F78E1D;
    border: 1px solid #F78E1D;
}
.archives_index_btn .archives-btn-bordered.btn-default {
    margin: 0;
    -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 1) !important;
    -moz-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 1) !important;
    box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 1) !important;
    background: none;
    color: #fff;
}
.archives-btn-bordered.btn-default:before {
     background: none;
}

.main-chat-head h2 {
    color: #57585a;
    margin: 0;
    font-weight: 600;
    text-align: center;
}
.conversation-area {
    /*background-color: #f6f6f6;*/
    position: relative;
    margin-bottom: 160px;
    /*margin-left: -15px;*/
  /*  border-top: 2px solid #d4d4d5;*/
  /*  border: 1px solid #d4d4d5;*/
    z-index: 15;
}
.conversation-area .posted-chat {
    padding-right: 8px;
    padding-left: 8px;
}
.chat-body {
    max-height: 270px;
    overflow-y: auto;
    margin-right: -15px;
    position: relative;
}
.join_user .chat-body{
    max-height: 450px;
    min-height: 450px;
}
.user_settings {
    font-size: 1.7em;
    display: inline-block;
    line-height: 1em;
    float: right;
    height: auto;
    padding-top: 7px;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    color: #756B6B;
    box-shadow: 1px 2px 2px -1px RGBA(117, 107, 107, 0.7);
    border-radius: 3px;
}

.per-chat {
    color: #000;
    /*height: 3em;
    line-height: 3em;*/
    display: inline-block;
    height: 100%;
    width: 100%;
}
#area_active_chat {
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 200px;
}
.toggle_profile {
    color: #000;
    display: inline-block;
}

.per-chat .user-name {
    /*background-color: #fff;*/
    line-height: 21px;
    padding: 7px 5px 0;
    min-height: 37px;
    font-weight: 600;
    font-size: 14px;
}
.per-chat .conversation {
   /* border-top: 1px solid #FA8072 ;*/
    background-color: #fff;
    line-height: 21px;
    background-color: #fff;
    min-height: 37px;
    padding-top: 10px;
    padding-bottom: 4px;
    font-size: 14px;
    word-wrap: break-word;
}
.user_originator{
    color: #F78F1E;
    font-size:0.9em;
    font-weight: 700;
}
.ceo_originator{
    color:#3a0768;
    font-size:0.9em;
    font-weight: 700;
}
.admin_originator{
    color: #002d3f;
    font-size:0.9em;
    font-weight: 700;
}
.msg_time {
    float: right;
    color: #112d42;
    font-size: 0.9em;
}
/*.posted-chat-actions {
    padding-right: 0px;
    text-align: center;
    height: 37px;
    line-height: 37px;
}*/
.posted-chat-actions .axn {
    /*width: 30px;*/
    padding: 5px;
    margin: 0;
    display: inline-block;
    background-color:none;
    border: 0;
    text-align: center;
    font-size: 1em;
}
.posted-chat-actions .axn:hover {
    color: #a6cb45;
    cursor: pointer;
}
.posted-chat-actions .conversation-checkbox {
    margin-right: 10px;
}
.filtered_messages_parent {
   /* border-top: 2px solid #F78E1D;*/
    display: block;
    /* width: 101.4%; */
    padding-top: 0px;
    text-align: center;
    background-color: #FFFFFF;
    margin-bottom: 0.1em;
    margin-left: -1em;
    /* border-bottom: 2px solid #F78E1D; */
    /* box-shadow: 0 4px 12px -4px #57585A; */
    padding: 10px 0;
}
.filtered_messages_parent h3 {
    color: #57585A;
    font-size: 1.2em;
    font-weight: 600;
}

.filtered_messages_container {
    /* position: absolute; */
    /* top: 500px; */
    /* display: block; */
    /* width: 102.52%; */
    /*background-color: #F78E1D;*/
    margin-left: -15px;
    padding-left: 1em;
    margin-right: -15px;
}
.filtered_messages {
    min-height: 185px;
    overflow-y: auto;
    text-align: left;
    max-height: 185px;
}
/*======*/

.online-users-list {
    display: inline-block;
    color: #000;
}
.online-users-list-container {
    max-height: 500px;
    overflow-y: auto;
}
.online-users-intro {
    color: #000;
    padding: 30px 10px 0px 10px;
}
.online-users-intro .orange-header {
    color: #112d42;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 0.9em;
    /*width: 41%;*/
    display: inline-block;
    cursor: pointer;
    /*padding-top: 2.8em;*/
}
#user_stats {
    color: #112d42;
    font-weight: 700;
    text-transform: initial;
   font-size: 14px;
    font-family: "Nunito-Regular";
    /*width: 41%;*/
    display: inline-block;
   padding-left: 20px;

}

/*#toggle_userslist {
    width: 148px;
}*/
.current-online-user.avatar-panel {
    width: 270px;
}

/*#toggle_userslist {
    width: 148px;
}*/

.current-user-avatar img.img-circle {
    max-width: 90px;
    width: 90px;
    height: 90px;
}
.current-online-user td {
    border: none !important;
}
.current-user-info > a {
    font-weight: 700;
}
.current-online-user .current-user-info {
    color: #000;
    text-align: right;
    padding: 8px 5px;
    vertical-align: middle;
}
.current-user-info .edit-profile-link {
    color: #a6cb45;
    border-bottom: 3px solid #a6cb45;
    padding-bottom: 2px;
    /*font-weight: 500;*/
    font-size: 14px;
}
.popover {
    border: none;
    border-radius: 0px;
    /*background: hsla(0, 0%, 50%, .7);*/
}
.popover.fade.top .thumbnail {
    border-radius: 0px;
    /*background: hsla(0, 0%, 66%, .8);*/
}
.bio-close-btn {
    color: #000;
    text-decoration: none;
    position: absolute;
    right: -3px;
    top: -4px;
}
.popover-content .caption p {
    font-size: 16px;
    margin: 3px 0;
}
.popover-content .caption p:first-child {
    font-weight: bold;
}
.popover-content .thumbnail {
    font-size: 19px;
    font-weight: normal;
}
.popover.fade.top .thumbnail img {
    max-width: 150px;
}
.exit-heading {
    color: #57585a;
    display: block;
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
}
.exit-heading:hover {
    color: #A52A2A;
}
.current-user-avatar,
.online-user-avatar {
    /*background-color: #f5f5f5;*/
}
.online-users-list-container .online-user-panel {
    margin-bottom: 2px;
    border: none;
    /*max-width: 300px;*/
}
.online-users-list-container tr {
    /*cursor: pointer;*/
    padding: 0 4px 0 0;
    /*max-width: 300px*/
}
.online-users-list-container .online-user-panel .online-user-avatar {
    padding: 2px;
    border-style:none;
    background-color:#ffffff;
}
.online-user-avatar img.img-circle {
    max-width: 55px;
    width: 55px;
    height: 55px;
    display: inline-block;
    /*margin-right: -20px;*/

}
.online-user-panel .online-user-info {
    /*background-color: #CACACA;*/
    vertical-align: middle;
    color: #000;
    text-transform: capitalize;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    border-style:none;
}

 .online-user-panel .online-user-info-circle {
    /*background-color: #CACACA;*/
    vertical-align: middle;
    color: #3a0768;
    text-transform: capitalize;
   /* width: 100%;*/
    font-size: 14px;
    font-weight: 500;
    border-style:none;
}
.online-user-container .avatar-panel,
.online-users-list-container .avatar-panel {
    padding: 1px 2px;
}
.chat-form {
    /*background-color: #fff;*/
    display: inline-block;
    width: 100%;
    margin-left: -15px;
    position: absolute;
   /* bottom: -70px;*/
}
/*.join_user .chat-form {
    bottom: -60px;
}*/
.chat-form-input,
.chat-form-input-btn {
    height: 2.35em !important;
    line-height: 1.5em;
    font-size: 22px;
    font-family:"Nunito-Regular";
}

.chat-form-input-btn.btn.btn-default {
    padding: 6px 32px;
    border: none;
    background-color: #ffffff;
}
.chat-form-input-btn.btn.btn-default:before {
    background-color: #ffffff;
}

.chat-form-input-btn.btn.btn-default:hover {
    background-color: #ffffff;
    border: none;
}
/*.chat-form-input-btn:hover > span.glyphicon {
    transform: translateX(6px);
    -webkit-transform: translateX(6px);
    }*/
/*bootstrap carousel*/
/*.carousel-section {
    background-color: #FD8;
    }*/
/*.carousel-control.right,
.carousel-control.left{
  background-image: none;
  }*/
/*.carousel-container{*/
/*background-color: #FD8;*/
/*}*/

.carousel-section .carousel-section-head {
    font-size: 1.2em;

    font-weight: 400;
    text-align: left;
    /*padding-bottom: 6px;*/
    text-transform: capitalize;
    margin-bottom: 0;
}
.carousel-caption {
    bottom: -200px;
    transition: bottom 1s ease;
}
.active .carousel-caption {
    bottom: -10px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-shadow: none;
}
.carousel-content {
    text-align: left;
    color: orange;
}
.carousel-inner h2 {
    display: inline;
    font-size: 26px;
    color: orange;
    font-weight: 400;
}
.carousel-inner p {
    color: #000;
    font-size: 1em;
    padding-left: 27px;
    font-weight: normal;
}
.carousel-container .carousel-inner {
    height: 150px;
    color: #000;
}
.carousel-container .item {
    text-align: center;
}
.footer-section {
    background-color: #ffffff;
    font-size: 12px;
    padding: 10px 0;
    color: #000;
    position: relative;
    width: 100%;
    bottom: 0px;
    /*height: 60px;*/
}
.footer-section .year {
    display: inline;
}
.footer-section a {
    color: #fff;
    line-height: 40px;
}
.footer-section a:hover {
    color: #a6cb45;
}
.form-horizontal .control-label {
    margin-left: 15px;
    margin-right: 15px;
    background: transparent;
}
#loadOldMsgs {
    width: 98%;
    font-weight: bold;
    margin-bottom: 1em;
}
.current-user-avatar > span {
    width: 100%;
    display: table;
    background-color: #D4D4D4;
    border-radius: 50%;
    height: 100%;
}
.chat-details-container > .container {
    width: 100%;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #424141;
}
.about-chat {
    margin-top: 2.5em;
}
.container-grey .form-horizontal .form-group,
.container-orange .form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}
.has-error .help-block {
    background-color: #E6E7E8;
    padding-left: 0.4em;
}
.likeclass, .tweet_msg {
    display: inline-block;
    position: relative;
    width: 47%;
}
.likeclass + .tooltip > .tooltip-inner {
      background-color: #73AD21;
      color: #FFFFFF;
      border: 1px solid green;
      padding: 15px;
      font-size: 20px;
  }
.like + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid green;
}
.ui.media-object.image {
    max-width: 200px;
    max-height: 200px;
}
.like_msg {
    width: 100%;
    z-index: 20;
}
.likecounter {
    font-size: 1.2em;
    position: absolute;
    bottom: -25px;
    left: 0px;
    width: 100%;
    z-index: 12;
    cursor: pointer;
}
.email_note {
    font-size: 1em;
    color: #DB740E;
}
.registration-form input:focus,
.login-form input:focus {
    color: #000;
}
.checkbox .control-label.agree_terms,
.checkbox .control-label.above_18 {
    padding: 20px 5px 0;
}
/*.chat_intro > span {
  padding: 6px 12px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  border:1px solid #F78E1D;
}

.chat_intro > span:hover {
  border:1px solid #fff;
}*/

#social {
    /* width: 80px; */
    overflow: hidden;
    position: relative;
    top: 0;
    /* right: 5px; */
    z-index: 1000;
    height:31px;
}

#social ul li {
    display: inline-block;
    margin: 0 5px;
}

#yt {
    margin-bottom: 0;
}
.social_media {
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}
#social ul {
    list-style: none;
    /* margin: 5px 0; */
    padding: 0;
}
.j-media {
    display: block;
    width: 26px;
    height: 27px;
}
/* .social_media {
    width: 26px;
    height: 27px;
    margin-bottom: 4px;
    background-image: url(../images/social-media.png);
} */
.fb{
  width: 26px;
  height: 27px;
  margin-bottom: 4px;
  background-image: url(../images/icons/facebook.png);
 background-size:100% 100%
}
.tw{
  width: 26px;
  height: 27px;
  margin-bottom: 4px;
  background-image: url(../images/icons/twitter.png);
  background-size:100% 100%
}
.yt{
  width: 26px;
  height: 27px;
  margin-bottom: 4px;
  background-image: url(../images/icons/youtube.png);
  background-size:100% 100%
}
.ln{
  width: 24px;
  height: 25px;
  margin-bottom: 4px;
  background-image: url(../images/icons/linkedin.png);
  background-size:100% 100%
}
/* #fb {
    background-position: 0px 0px
}
#ln {
    background-position: 0px -31px
}
#tw {
    background-position: 0px -61px
}
#yt {
    background-position: 0px -92px
}
#fb:hover {
    background-position: 26px 0
}
#ln:hover {
    background-position: 26px -31px
}
#tw:hover {
    background-position: 26px -61px
}
#yt:hover {
    background-position: 26px -92px
} */
.previous-chats {
    position:  relative;
}
.previous-chats .dummy {
    padding-top: 25%; /* forces 1:1 aspect ratio */
}

.previous-chats .img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align:center; /* Align center inline elements */
    font: 0/0 a;
}

.previous-chats .img-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.previous-chats .img-container img {
    vertical-align: middle;
    display: inline-block;
}

.events-slider.carousel-section {
    padding: 20px 1em 0;
    width: 100%;
    margin: 0 auto;
}
.event-slider-content {
    margin: 0 auto;
    padding: 0.4em 0.5em 2em;
    font-size: 0.6em;
}
.event-slider-content .event_title {
    font-weight: 600;
    font-size: 0.9em;
    margin-left: 1.55em;
    line-height: 1.1em;
}
.event-slider-content .event_title,
.event-slider-content .glyphicon {
    color: #F78E1D;
}
.events-slider .event_desc {
    margin-left: 1.5em;
    color: #6d6e71;
    margin-top: 0.3em;
    font-size: 0.93em;
}
.event-slider-content .slick-prev:before,
.event-slider-content .slick-next:after{
    color: #A7A9AC;
}
.chat-details-container .slick-prev:before,
.chat-details-container .slick-next:after {
    color: #fff;
}
.event-slider-content .slick-prev,
.event-slider-content .slick-next{
    font-size: 1em;
    display:none !important;
}

.event-slider-content .slick-prev:before,
.event-slider-content .slick-next:after,
.chat-details-container .slick-prev:before,
.chat-details-container .slick-next:after {
    font-family:  "Nunito-Regular";
    font-size: 2.3em;
}

.chat-details-container .slick-dots li button:before{
    font-size: 12px;
}

.events-slider.carousel-section .carousel-section-head {
    padding-left: .5em;
}
.events-slider .slick-slide .glyphicon-record:before {
    position: absolute;
    margin-top: 2px;
}
/*modal*/

.standard.modal .pic {
    display: inline-block;
    float: left;
}
.standard.modal .header:not(.ui),
.ui.small.modal > .header:not(.ui) {
    font-size: 2.3em;
}
.standard.modal .ui.image {
    display: inline-block;
    float: left;
    margin-right: 1.8em;
    max-width: 150px;
    max-height: 150px;
}
.standard.modal > .content,
#transcriptsmodal > .chat_transcript {
    font-size: 1.7em;
   /* background-color:#a6cb45;*/
}
.standard.modal .details {
    float: left;
    /*font-size: 1.3em;*/

    width: 55%;
    display: inline-block;
}
.standard.modal .ceo-name {
    color: #a6cb45;
    font-weight: 600;
    font-size: 1.2em;
}
.standard.modal .bio {
    font-size: 0.85em;
    margin-top: 0.5em;
    max-height: 200px;
    overflow-y: scroll;
}
.standard.modal .chat_info .chat_info_left,
.chat_details_page .chat_info_left {
    padding-right: 1em;
    display: inline-block;
    font-weight: 900;
    color: #a6cb45;
}
.chat_info > ul:first-child {
    padding-left: 0;
}
.standard.modal .chat_info .list-group-item {
    border-radius: 0px;
}
.standard.modal .chat_info .list-group-item.active,
.standard.modal .chat_info .list-group-item.active:hover,
.standard.modal .chat_info .list-group-item.active:focus,
.chat_details_page .list-group-item.active {
    background-color: #57585a;
    border-color: #57585a;
}
.body-content {
    max-width: 1200px;
    margin: 0 auto;
}
.chat_details_page .thumbnail,
.chat_details_page .list-group-item {
    border-radius: 0;
}
.chat_details_page .ceo_details h3 {
    font-weight: 500;
}
.chat_details_page .ceo_details .ceo_launcher {
    font-size: 1em;
    color: #000;
    border-radius: 0;
    padding: 0.5em;
    font-weight: 600;
}
.chat_details_page h1 {
    text-align: center;
    margin: 0;
   /* background-color: #F7961C;*/
    font-weight: 400;
    color: #000;
    font-size: 1.6em;
    padding-left: 0.5em;
    padding-right:0.5em;
}
.chat_trascript_page h1 {
    padding-left: 1em;
    padding-right:1em;
}

.field-register-form-ageagree,
.field-register-form-ageagree .form-group,
.field-register-form-termsagree {
    margin-bottom: 0;
}
.make-block {
    margin: 2em 0 1em;
    display: inline-block;
}
.reset-email {
    /* background-color: #808285; */
    padding: 4em 0 3em;
    background-blend-mode: overlay;
    background-color: rgb(0,45,63,0.8);
}
.reset-heading{
  text-transform: none;
}
.panel-default {
    border-color: #fff;
    border-radius: 0;
}
.panel-default > .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #fff;
    border-bottom: 1px solid #d4d4d5;
    border-radius: 0;
    font-size: 1.5em;
    font-weight: 600;
}
..panel-default .panel-title {
    font-weight: 600;
}
.chat_transcript.panel-default > .panel-heading {
    font-size: 1.5em;
    font-weight: 600;
}
.user_profile {
    background-color: #f1f2f2;
    padding-top: 0.5em;
    min-height: 90vh;
}
.user_profile .panel.panel-default {
   /* background-color:#f6f6f6;
    border: 1px solid #d4d4d5;*/
   /* border-bottom: none;*/
}
.user_profile .panel-default > .panel-heading {
    font-weight: 600;
    text-transform: uppercase;
}
.reset-email .panel.panel-default {
    background-color: #f6f6f6;
    border: none;
}
.reset-email .panel .control-label {
   text-transform: none;
    color: #000;
    font-weight: 500;

}

.reset-email .panel .btn-primary:before{
    background: #808285;
}

.reset-email .panel .btn-primary{
    border:none;
}

.container-orange p > a {
    color: #8B0000;
}
.container-orange p > a:hover {
    color: #fff;
}
.chats_slider_title {
    padding: 2em 0 1em;
    background-color: #fff;
    text-align: center;
    font-weight: bold;
    font-size:24px;

}
.chats_slider_title .text-center {
    font-weight: normal;
    margin: 0;
    font-size: 1.8em;
    text-transform: capitalize;
    /* color: #57585a; */
    padding: 12px;
}
.chat_trascript-header {
    margin: 1.2em 0 0;
    background-color: #F78F1E;
    padding: .4em 0;
    font-size: 1.4em;
    text-align: center;
    color: #fff;
}
.chat_trascript_page hr {
    border-top: 1px solid #fff;
}
.chat_trascript_page .chat_info.list-group {
    padding-right: 0;
}
.chat_trascript_page .panel-heading {
    background-color: #57585A;
    color: #fff;
    font-size: 1.4em;
    text-align: center;
    border-radius: 0;
}
.chat_trascript_page .panel-default {
    border-color: #d4d4d5;
    margin-top: 2em;
    font-size: 0.95em;
}
#table_parent {
    max-height: 500px;
}

.nofile {
    color: #db2828;
    font-weight: bold;
}

#ceos_section {
    margin-bottom: 0;
    padding-right: 0;
}

.ceos_section .ceo_thumbnail {
    position: relative;
}

.ceo_thumbnail .ceo_info {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.63);
    display: block;
    padding: 5px 3px 5px 15px;
    margin: 0 auto;
    width: 85%;
    color: #fff;
    text-align: left;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    bottom: 0;
    opacity:0;
    font-size: 0.8em;
    text-transform: uppercase;

}

.ceo_info > p {
    line-height: 1.5em;
}

.ceos_section .ceo_thumbnail > img {
    max-width: 200px;
    max-height: 200px;
    /*cursor: pointer;*/
    margin: 0 auto;
    text-align: center;
}
.ceos_section .ceo_thumbnail .carousel-section-head {
    font-weight: 700;
    text-align: left;
    font-size: 1em;
    text-transform: uppercase;
    color: #fff;
}

.ceo_thumbnail:hover .ceo_info {
    opacity:1;
    z-index: 1000;

}

.alert {
    text-align: center;
    font-weight: 600;
    margin: 0 auto;
    padding: 0.5em;
    border: none;
    padding: 1.5em 0.5em;
}

.reset-email.spacer:before {
        content: '';
        height: 6em;
}
.reset-email.spacer:after {
    content: '';
    height: 12em;
}
#users_active {
    display: none;
}
.col-xs-3.chat_intro:not(:first-child) {
    margin: 0;
    padding: 0;
}
/*.the_chat_details_page {
    background-color: #A7A9AC;
}*/
.yell_header{
    margin: 1.2em 0 0;
    background-color: #F78F1E;
    padding: .1em 0;
    font-size: 1.3em;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.chat-search {
    padding: .3em 0.5em 0.5em;
   /* text-align: center;*/
    margin: 0 auto;

}

.chat-search select option {
    background: #fff;
}
.chat-search .btn.btn-primary {
    padding: 0.7em 1.5em;
    color: #fff;
    background-color: #57585A;
    font-size: 1em;
    margin-bottom: 0.85em;
}
.chat-search .btn.btn-primary:before {
    background-color: #57585A;
}
.archived_chat {
    text-align: center;
}

.archived_chat .topicinfo {
    text-align: left;
    font-size: 1.1em;
}

.archived_chat .topicinfo td:first-child {
    text-transform: uppercase;
}

.chat-index .image_holder {
    width:220px;
    height:220px;
    /* margin:5% auto; */
    /*overflow:hidden;
    border-radius:200px;*/
}
.chat-index .archive_image {
    text-align: center;
    margin: 0 auto;
}
.chat-search .btn-primary,
.chat-search .form-control {
    border: none;
}

.chat-search .form-control
 {
    margin-bottom: 1em;
    border: 2px solid #ffffff;
    background: #ffffff;
    color: #000;
    width:130px;
}
.chat-search .form-control select
 {
    margin-bottom: 1em;
    border: 2px solid #ffffff;
    background: #ffffff;
    color: #000;
}
.chat-search .btn {
    margin-bottom: 1em;
    border: 2px solid #F9B26B;
    background: #F9B26B;
    color: #fff;
}


.chat-index .yell_header {
    margin-top: 1em;
}
.chat-index .topicinfo .table {
    margin-bottom: 0;
}
.details_sect > a {
    margin: 1em 0.5em 0;
}

.archived_chat .archive_chat_holder {
    border: none;
    /* text-align: center; */
    margin: 0.5em 0;
    height:365px !important;
    padding-left:20%;
}
.archived_chat hr {
    border-top: 1px dashed #eee;
    margin: 1em 0 0.5em;
}
.chat-details-container .container .row > .col-md-6 {
    margin-bottom: 2.5em;
}
.details_sect .btn-primary {
    color: #fff;
    background-color: #a6cb45;
    border: none;
    font-weight: 100;
}

.details_sect .btn-primary:before{
    background-color: #a6cb45;
}
.topicinfo tr {
    color: #58585a;
    font-size: 1.1em;
    font-weight: 500;
}
.details_sect {
    text-align: center;
    margin:3%;
    bottom:20px;
    position:absolute;

}
.table-responsive, .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none !important;
}
.chat_info.list-group {
    padding-left: inherit;
}
/*#toggle_userslist {
    width: 100%;
    max-width: 290px;
}
*/
.slick-slide:focus {
    outline: none;
}


.checkbox input[type="checkbox"] {
    float: left;
    position: relative;
    text-align: center;
    margin: 12px auto 0;
}

.current-online-user.avatar-panel {
    margin: 0 auto;
    max-width: 300px
}
.main-chat-btns {
    float: right;
    padding:0 1em;
}

.posted-chat-actions .tweet_msg.axn {
    background: url(../images/icons/tweet.png) center center no-repeat;
    height: 24px;
    background-size: 20px;

}

.container-grey {
    background-color: #808285;
}
.main-chat-btns .media-body{
    vertical-align: bottom;
}

.chat_view_sec {
    margin: 1.5em -1em 1em;
}

.chat_view_sec .bordered-btns-container .btn-bordered.btn-default {
    padding: 21px 5px;
    -webkit-box-shadow: inset 0px 0px 0px 5px rgb(128, 130, 133) !important;
    -moz-box-shadow: inset 0px 0px 0px 5px rgb(128, 130, 133) !important;
    box-shadow: inset 0px 0px 0px 5px rgb(128, 130, 133) !important;
    font-size: 1em;
    margin-left: 1em;
    margin-bottom: 0.5em;
}

.chat_view_sec .btn-bordered.btn-grey {
    background-color: #A7A9AC;
    border: 1px solid #A7A9AC;
}

.chat_view_sec .ui.media-object.image {
    max-width: 130px;
    max-height: 130px;
}

.chat_view_sec .media-left {
    background-color: #f5f5f5;
    padding: 0.5em;
}

.list-group.no-border .list-group-item {
   /* border: none;*/
    background: none;
    color: #000;
    font-weight: 600;
}

.match_height .breath{
    padding:0.5em 0 0.5em;
}

/*.load_trans {
    display: inline-block;
    width: 100%;
    margin: 0.5em 0;
    display: none;
}*/

.load_trans_btn {
    background: url(../images/icons/transcripts.png) left center no-repeat;
    padding-left: 38px;
    color: #a6cb45;
    background-size: 25px;
    line-height: 31px;
    height: 30px;
    display: block;
    font-weight: 600;
    cursor: pointer;
}

.breadcrumb {
    padding: 1em;
    border-radius: 0;
    background: none;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
    padding-left: 0;
}
.breadcrumb > li:first-child:before {
    content: "<<";
    font-size: 1em;
    padding-right: 0.5em;
    color: #000000;
}

.breadcrumb > .active {
    color: #F78E1D;
}
.breadcrumb a {
    color: #000000;
}

.breadcrumb > li + li:before {
    content: "|";
}

.btn-bordered.btn-grey:hover {
    background-color: #9A9A9A;
}
.btn-bordered.btn-orange:hover {
    background-color: #E28816;
}

.loginout {
    /* display: inline-block; */
    /* background-color: #F7961C; */
    /* padding-left: 3em; */
    line-height: 2.5em;
    /* text-align: left; */
    line-height: 2.5em;
}
.page-title {
    text-align: center;
    margin: 0;
    /*background-color: #F7961C;*/
    font-weight: 400;
    color: #fff;
    /* font-size: 1.6em; */
    padding: 0.4em 0.5em;
    width: 100%;
    display: block;
    overflow: hidden;
}
.page-title .page-header {
    padding: 0 0.2em;
    display: inline-block;
    text-align: center;
    margin: 0;
   /* background-color: #F7961C;*/
    font-weight: 700;
    color: #000;
    font-size: 1.6em;
    border: none;
    line-height: 1.6em;
}


.loginout > a {
    color: #fff;
    font-weight: 600;
    font-size: 0.8em;
    border: 2px solid #fff;
    padding: 0.25em 0.75em;
}

.ias-noneleft {
    width: 100%;
    padding: 2em 1em;
    display: inline-block;
    text-transform: uppercase;
}

.make-responsive > img {
    width: 100%;
    max-width: 300px;
}
.ias-trigger a {
    padding: 0.7em 2em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #112d42;
    /*width: 45%;*/
    display: inline-block;
}
.ias-trigger {
    width: 100%;
    display: inline-block;
    padding: 3em 0;
}

.ias-spinner{
    width: 100%;
    display: inline-block;
    height: 80px;
}

.row.actions {
    margin: 0;
}

.sjaakp-preview{
    border-radius: 0;
}


.form-group.field-profile-avatar > .col-sm-9 {
    width: 100%;
}
#profile-form .photo_uploader::after{
    /*content: '';*/
    display: inline-block;
    width:90%;
    /*text-align: ;*/
    font-weight: 600;
    font-size: 14px;
}

.uploader-aspect {
    /*float: none;
    margin: 0 auto;
    text-align: center;
    clear: both;
    margin-bottom: 1em;
    text-align: left;
    padding-left: 29%;*/
    display: none;
}

.uploader-control {
    word-break: break-word;
    overflow: hidden;
    display: block;
}
.uploader-control .btn.btn-default {
    white-space: normal;
    word-wrap: break-word;
}
.col-md-4.photo_uploader {
    width: 265px;
}
.uploader-control {
    overflow: hidden;
    display: block;
    word-wrap: break-word;
}
#account-form .form-group {
    margin-left: 0;
}

.text-muted {
    color: rgb(82, 78, 78);
    font-size: 0.8em;
    text-align: center;
}

 .events-slider .slick-prev:before,
 .events-slider .slick-next:after,
 .chat_summary_slider .slick-prev:before,
 .chat_summary_slider .slick-next:after{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: 30px;
}


.events-slider .slick-prev:before {
    background: url(../images/icons/arrow-left.png) center center no-repeat;
    content:'';
    background-size: 30px;
}
.chat_summary_slider .slick-prev:before {
    background: url(../images/icons/wt-arrow-left.png) center center no-repeat;
    content:'';
    background-size: 30px;
}

.events-slider .slick-next:after {
    background: url(../images/icons/arrow-right.png) center center no-repeat;
    content:'';
    background-size: 30px;
}
.chat_summary_slider .slick-next:after {
    background: url(../images/icons/wt-arrow-right.png) center center no-repeat;
    content:'';
    background-size: 30px;
}

.events-slider .slick-next:before,
.chat_summary_slider .slick-next:before {
    display: none;
}

.events-slider .slick-next:after,
.chat_summary_slider .slick-next:after {
    margin-left: -10px;
}
.profile_view .form-white .col-md-9 {
    display: inline-block;
    height: auto;
    color: #000;
    /* background-color: #fff; */
    /* font-weight: 600; */
    /* box-shadow: 3px -23px 0 7px red; */
    max-height: 300px;
    overflow-y: auto;
}

.profile_view .make-responsive {
    margin: 0 auto 1em;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.user_profile .container {
    width: 100%;
}

.chat-search form {
    padding: 0 0em;
}

.ui.popup {
    border-left: none;
    padding: 0;
    border-bottom: none;
    border-radius: 0;
    border-right: none;
}
.ui.popup .current-online-user .table-responsive {
    margin-bottom:0;
}
.tile.join_chat {
    position: relative;
}
.tile.join_chat {
    padding-bottom: 10px;
    padding-top: 30px;
}
#tilehelper {
    display: inline-block;
    font-size: 0.55em;
    width: 100%;
    padding: 0;
    position: absolute;
    left: 0;
    top: 6px;
}
/*#spec-chat-page {
    margin-top: -40px;
}*/

.user_profile .breadcrumb, .join_user .breadcrumb, .join_admin .breadcrumb {
    padding-left: 2em;
}

.back-to-top {
    background: url(../images/icons/up-arrow.png) center 10px no-repeat #57585A;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 60px;
    right: 5px;
    text-decoration: none;
    color: #fff!important;
    /* background: #57585A; */
    /* font-size: 12px; */
    display: none;
    font-weight: bold;
    text-align: center;
    padding: 0px;
    z-index: 100;
    cursor: pointer;
    background-size: 30px;
}
/*.back-to-top span {
    display: block;
    position: relative;
    background: #F78E1D;
    height: auto;
    padding: 0px;
    margin-top: 0px;
}
*/
.search_btn .ui.button {

    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0.2em 0.2em 0.2em 0.8em;
    border: 1px solid transparent;
    border-radius: 4px;
    position: absolute;
    right: 1.7em;
    background-color: #a6cb45;
}
.search_btn .ui.button i {
    color:#ffffff;
}
.ui.modal {
    border-radius: 0;
}


.col-sm-3.col-xs-6.chat_intro:not(:first-child){
    padding-left: 0;
    padding-right:0;
}

.standard.modal .header{
    padding:0.25em;
}
.ui.modal > .actions{
    padding: 0;
}
.ui.modal .actions > .button {
    margin-right: 0;
}

.thumbnail .ui.image {
    display: block;
    border-radius: 0;
}

.row.row-metro {
    margin: 0;
}
.chat_details_page,
.chat-index.row {
    margin:0;
}
.wrapper > .row {
    margin: 0;
}
#spec-chat-page > .row {
    margin: 0;
}
#chat_summary_slider {
    width: 85%;
    margin: 0 auto;
    color:#000000;
}
.ceo-banners.carousel-section {
    border-top: 6px solid #F78E1D;
}

.site-error {
    min-height: 75vh;
    width: 80%;
    margin: 1em auto;
}

#user_feed > tr,
#user_feed_active > tr {
    max-width: 270px !important;
    display: inline-block;
    width: 100%;
}


.download_link {
    float: right;
}

#theterms .modal-body {
    overflow-y: scroll;
    max-height: 75vh;
    overflow-y: scroll;
}
#theterms .modal-content {
    border-radius: 0;
}
#theterms .modal-content {
    border-radius: 0;
}
#theterms .btn-default {
    border: none;
    color: #fff;
}
#theterms .btn-default:before {
    background-color: #2B2C2D;
}
#theterms .modal-footer {
    padding: 0;
}
#terms_conditions {
    display: inline-block;
}

.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y{
    background-color: #000;
}
.per-chat.ceo .user-name{
    /*background-color: #58585A;
    color: #fff;*/
}
.per-chat.ceo .conversation{
    background-color: #ffffff;
    color: #000;
}
.per-chat.admin .user-name{
   /* background-color: #A7A9AC;*/
    color: #fff;
}
.per-chat.admin .conversation{
    background-color: #ffffff;
    color: #000;
}
.per-chat.ceo .msg_time {
    float: right;
    color: #A7A9AC;
    font-size: 0.9em;
}
div#area_filtered_chat {
    padding-top: 5px;
}
img.img-responsive.chat_archive_img {
    max-width: 132px;
}
a.btn.btn-default.archives-btn-bordered {
    max-width: 132px;
}
div#chat_archive_section {
    width: 85%;
    margin: auto;
}
.help-nav{
margin-top: -7px;
padding-bottom: 0px
padding-left:70px;
border-left: 1px solid #FFFFFF;
}

.fa-1x{
font-size:1.4em;
}
/* START MEDIA QUERIES */
/*greater than 992*/

/*START KEN */
.notifications-wrapper {
    color: #000;
}
#notification_li
{
position:relative
}
#notificationContainer
{
background-color: #fff;
border: 1px solid rgba(100, 100, 100, .4);
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
overflow: visible;
position: absolute;
top: 36px;
right: 0;
width: 300px;
z-index: 400;
display: none; // Enable this after jquery implementation
}
// Popup Arrow
#notificationContainer:before {
content: '';
display: block;
position: absolute;
width: 0;
height: 0;
color: transparent;
border: 10px solid black;
border-color: transparent transparent white;
margin-top: -20px;
margin-left: 188px;
}
#notificationTitle
{
font-weight: bold;
padding: 8px;
font-size: 13px;
background-color: #ffffff;
z-index: 1000;
width: 384px;
border-bottom: 1px solid #dddddd;
}
#notificationsBody
{
    padding: 5px 0px 0px 0px ;
    min-height:300px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 50px;
}
#notificationFooter
{
background-color: #e9eaed;
text-align: center;
font-weight: bold;
padding: 8px;
font-size: 12px;
border-top: 1px solid #dddddd;
}
.notifications_ul {list-style:none;margin: 0px;padding: 0px;}
.notifications_ul li {
float: left;
font-size: 11px;
font-weight: 500;
}
.notifications_ul li a{color:#333333;text-decoration:none}
.notifications_ul li a:hover{color:#006699;text-decoration:none}
#notification_count
{
    background:red;
   position:relative;
   top: -20px;
   left: -15px;
   z-index: 40;
}
button#notificationLink{
    padding-right: 10px;
    color: #A6A8AB;
    background-color: rgba(201,66,47,0);
    border:rgba(201,66,47,0);
    margin-right: 10px;
}
.notification_single {
    padding: 7px 0px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}
.notification-title.text-info {
    line-height: 1.457143;
}
.notification-description {
    line-height: 1.857143;
}
.notification-ago {
    line-height: 1.42857143;
}
.notifications-wrapper {
    margin-right: -23px;
}
.current-user-info .logout-link {
    border-bottom: none;
    text-transform: uppercase;
    color: #57585a;
    font-weight: 500;
    width: 100%;
    font-size: 12px;
}
.current-user-info .exit-heading {
    color: #57585a;
    display: block;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
    text-align: right;
    margin-bottom: 28px;
}
/*END KEN CSS */

@media (min-width: 992px)  and (max-width:1200px){
    .navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
    margin-bottom: 0px;
    height:73px;
    margin-right: -15px;
     margin-left: -15px;

}
 .navbar-default {
    background-color: #112d42;
    border-color: transparent;
    /*margin-top: 48px;*/
    margin-bottom: 0px;

}
.navbar-brand>img {
  height: 100%;
  /*padding: 15px;*/
  width: auto;
  height:117px;
}

    #social {
        width: 26px;
        display: block;
    }
    #social ul li {
        display: inline-block;
        margin: 0;
    }
    header > .container{
        min-height: calc(100vh - 203px);
    }
    .chat_details_page{
        min-height: 85vh;
    }

    .chat_view_sec .bordered-btns-container .btn-bordered.btn-default {
        margin-top: 0;
    }

    .current-online-user.avatar-panel {
        position: absolute;
        left: 0;
        z-index: 10;
        width: 100%;
        max-width: 100%;
    }

    .current-online-user .table {
        max-width: 300px;
        margin-left: 0.55em;
    }

    .chat-details-container {
        padding: 30px 150px;
    }
    .conversation-area {
        margin-bottom: 200px;
    }
    .chat-form {
   /* background-color: #fff;*/
    display: inline-block;
    width: 100%;
    margin-left: -15px;
    position: absolute;
  /*  bottom: -50px;*/
}
#message-tag{
    background: #fff;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    resize:none;
    width:95%;
}
#mentions{
    width:95%;
    height: 70px;
}
    .bordered-btns-container {
        text-align: left;
    }
    /*.current-online-user.avatar-panel {
        width: 243px;
        float: right;
    }*/
    .main-chat-btns {
        margin-top: -3em;
    }
    .main-chat-head h2 {
        margin: 4px 0 -11px 15px;
        text-align: left;
    }
    .online-user-container .avatar-panel,
    .online-users-list-container .avatar-panel {
        padding: 0;
    }
    .about-chat {
        margin-top: 0;
    }
    .events-slider.carousel-section {
        padding: 20px 0 0;
        width: 50%;
        margin-top: -10px;
    }
    .spacer:before {
        content: '';
        height: 6em;
    }
    .spacer:after {
        content: '';
        height: 12em;
    }
    .spacer-sm:before {
        content: '';
        height: 2em;
    }
    .spacer-sm:after {
        content: '';
        height: 9em;
    }

    /*.alert {
        width: 78%;
    }*/

    /*#social{
        display: block;
    }*/
    .chat_details_page {
        padding-bottom: 3em;
    }

    .chat-search .form-control {
        max-width: 150px;
    }

    #profile-bio{
        height: 300px;
    }

    .chat-details-container .container .row > .col-md-6 {
        margin-bottom: 1em;
    }
    .chat_info.list-group {
        padding-left: 0;
    }
    header{
    height:450px;
}
    header .intro-text {
        width: 97%;
        margin: 0 auto;
        /*height: 590px;*/
    }

    .online-users-list-container tr {
        padding: 3px 0 3px 0;
    }

    .container-grey.chat_view_sec{
        margin-left: 1.5em;
        margin-right: -0.8em;
        display: table;
    }
    .container-grey.chat_view_sec .holder {
        display: table-cell;
        vertical-align: middle;
    }
    .chat_view_sec {
        margin-top: 0;
    }

    .user_profile .container {
        width: 93%;
    }

    .height-spacer:before {
        content: '';
        height: 4em;
    }

    .ias-trigger a {
        width: 25%;
    }


    .row.actions > .chat_intro:first-child > span {
        text-align: left;
        float: left;
        margin-left: -1em;
    }

    .row.actions > .chat_intro:last-child > span {
        text-align: right;
        float: right;
    }

    .footer-section .copyright{
        float: left;
    }
    .footer-section .quicklinks {
        float: right;
    }

    .page-title .page-header {
        margin-right: -5em;
        width: 100%;
    }

    .farwell_link {
        float: right;
    }

}
/*@media 992*/



/*greater than 768*/

@media (min-width: 768px) and (max-width: 992px) {
    .posted-chat-actions {
    padding-right: 0px;
   /* text-align: center;*/
    height: 37px;
    padding-top: 20px;

}
.tooltip{
    padding-left: 30px;
}
    #message-tag{
    background: #fff;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    resize:none;
    width:97%;
}
    .navbar-brand>img {
    height: 100%;
    /* padding: 15px; */
    width: auto;
}
    .navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
    margin-bottom: 0px;
    height: 52px;
    margin-right: -15px;
     margin-left: -15px;

}

    .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px
}
    header .intro-text {
        padding-top: 4em;
        padding-bottom: 1em;
        font-size:20px;
        color:#ffffff;
    }

    .chat-details-container {
        padding: 0px;
    }

    #user_register,
    #user_login,
    .reset-email,
    .wrapper {
        height:auto;
        /*min-height: 90vh;*/
        min-height: calc(100vh - 60px);
    }
    .chat-details-container.container-orange,
    .chat-details-container.container-grey {
        padding: 10px 0px 50px;
    }
    .per-chat .conversation {
        border-top: none;
    }
    .conversation-area {
       /* margin-left: 0px;*/
        margin-bottom: 62px
    }
    .current-online-user .current-user-info {
        padding-right: 1em;
    }
    .form-white .checkbox .control-label {
        padding-left: 0;
    }
    /*.header {
    height: 560px;
  }*/
/*    .per-chat {
        margin-bottom: -8px;
    }*/
    .form-horizontal .control-label {
        margin-left: 0px;
        margin-right: 0px;
        color:#000;
    }
    .container-grey .form-horizontal .form-group,
    .container-orange .form-horizontal .form-group {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .field-register-form-ageagree label,
    .field-register-form-termsagree label {
        font-weight: 400;
        text-transform: none;
        font-size: 1em;
        padding: 0;
    }

    @-moz-keyframes icon-down {
      0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
      }
      40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
      }
      60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
      }
    }
    @-webkit-keyframes icon-down {
      0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
      }
      60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
      }
    }
    @keyframes icon-down {
      0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
      }
      60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
      }
    }
    .intro-text .icon-down {
      -moz-animation: bounce 2s infinite;
      -webkit-animation: bounce 2s infinite;
      animation: bounce 2s infinite;
    }

    .intro-text .icon-down {
        background: url(../images/icons/arrow-down.png) right center no-repeat;
        display: inline-block;
        width: 50px;
        height: 50px;
        background-size: 50px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        margin-left: -20px;
        cursor:pointer;
    }
    .bounce-holder {
        display: inline-block;
        position: relative;
        margin-top: 3em;
        width: 100%;
    }

    #spec-chat-page {
        /*margin-top: -40px; */
        width: 100%;
        /*margin-left: -1.5%;*/
    }

    .online-users-list-container {
        padding: 0 0 0 0.6em;
        padding-bottom: 50px
    }

    .btn-bordered.btn-default:first-child {
        margin-right: 0.5em;
    }

    .chat_view_sec {
        padding: 1.5em;
        width: 105.7%;
    }

    .join_user .chat-body {
        max-height: 450px;
        min-height: 450px;
    }

    /*.chat_view_sec .bordered-btns-container .btn-bordered.btn-default {
        width: 42.8%;
    }*/
    .chat-index .archive_image {
        height: 290px;
        border: none;
    }
    .archive_image {
        height: 290px;
        border: none;
    }
    .archive_host_image {
        height: 190px;
        border: none;
    }
    .user_profile .archive_image{
        /*height: 290px;*/
        border: none;
    }

    .page-register.chat-details-container > .container,
    .page-login.chat-details-container > .container {
        width: 85%;
    }

   #profile-form .has-error .help-block {
       margin-left: -34%;
       margin-right: 34%;
   }

}

.navbar-default {
    background-color: #112d42;
    border-color: transparent;
    /*margin-top: 120px;*/
    margin-bottom: 0px;

}
.navbar-default .nav li a {
    font-family:  "Nunito-Regular";
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff
    padding:5px;
}
.navbar-default .nav li a:hover {
    font-family: "Nunito-Regular";
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff
    padding:5px;
}
}

.navbar-default .navbar-toggle {
    background-color: #a6cb45;
    border-color: #a6cb45;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #a6cb45;
}
.home_image_holder {
    /*width:220px;*/
    /* height:220px; */
    margin:5% auto;
    overflow:hidden;
   /* border-radius:200px;*/
    background-color: #000;
}
.archive_image {
    text-align: center;
    margin: 0 auto;
}
.chats_slider_title hr{

    border-top: dashed 1px;
    align-items: center;

}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 73px;
  /*padding: 15px;*/
  width: auto;
}

/*@media 768*/


@media (min-width: 1200px) {
       .tooltip{
    padding-left: 30px;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 45%;
    left: 50%;
    margin-left: -41px;
    /*opacity: 1;*/
    transition: opacity 0.3s;
}
.likecounter {
    font-size: 1.2em;
    position: absolute;
    bottom: -25px;
    left: 0px;
    width: 100%;
    z-index: 12;
    cursor: pointer;
    padding-left: 34px
}
.posted-chat-actions {
    padding-right: 0px;
    /*text-align: center;*/
    height: 37px;
    padding-top: 20px;
}
.rep{
    padding-left:15px;
}
.foot{
    margin-bottom: 99px;
}
header{
    height:600px;
}
#message-tag{
    background: #fff;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    resize:none;
    width:97%;
}
#mentions{
    width:97%;
    height:70px;
}
.navbar-brand>img {
  height: 100%;
  /*padding: 15px;*/
  width: auto;
  height:116px;
}

    .navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
    margin-bottom: 0px;
    height:117px;
   /* margin-right: -15px;
     margin-left: -15px;*/

}
   .slider-image{
        width:auto;
        height: 116px !important;
    }
    .chat_trascript_page .container {
        width: 92%;
    }
    .user_profile .container {
        width: 92%;
    }

    .container {
        width: 80%;
    }
    .profile_menu_container {
    width: 90%;
}
    .conversation-area  {
        float: left;
        z-index: 15;
    }
    .user_profile,
    .container-orange:not(.chat-details-container.container-orange),
    .reset-email {
        min-height: 662px;
    }

    .event-slider-content .slick-slide {
        margin-top: .5em;
    }

    .events-slider.carousel-section .carousel-section-head {
       /* padding-left: 5em;*/
    }
    .navbar-default {
    background-color: #DB740E;
    border-color: transparent;
    /*margin-top: 120px;*/
    margin-bottom: 0px;
    height:90px;
    opacity: 0.5;
}


}

/*@media 1200*/

@media (max-width: 767px) {
    .posted-chat-actions {
    padding-right: 0px;
    /*text-align: center;*/
    height: 37px;
    padding-top: 20px;

}
.posted-chat-actions .axn {
    /*width: 30px;*/
    padding: 5px;
    margin: 0;
    display: inline-block;
    background-color:none;
    border: 0;
    /*text-align: center;*/
    font-size: 1em;
}
.tooltip{
    padding-left: 5px;
}
.tooltip .tooltiptext {
       visibility: hidden;
    width: 60px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 45%;
    left: 50%;
    margin-left: -32px;
    opacity: 1;
    transition: opacity 0.3s;
}
.likecounter {
    font-size: 1.2em;
    position: absolute;
    bottom: -25px;
    left: 0px;
    width: 100%;
    z-index: 12;
    cursor: pointer;
    padding-left: 8px
}

    .wrapper {
    /*min-height: 92.5%;*/
    height: auto !important;
    height: 100%;
    margin: 0 auto;

}
    .slider-image{
        width:auto;
        height: 50px !important;
    }
     .navbar-brand>img {

  height: 100%;
  /*padding: 15px;*/
  width: auto;
}


    .home_image_holder {
    /* width: 220px; */
    /* height: 220px; */
    margin: 5% auto;
    overflow: hidden;
    /* border-radius: 200px; */
}
    .conversation-area {

    /*background-color: #f6f6f6;*/
    position: relative;
   /* margin-bottom: 85px;*/
    margin-left: -15px;
    border-top: 2px solid #d4d4d5;
   /* border: 1px solid #d4d4d5;*/
    z-index: 15;

}
    .events-slider.carousel-section .carousel-section-head {
    padding-left: .5em;
    text-align: center;
}
    .form-horizontal .control-label {
        padding-left: 0;
        background: none;
        color: #000;
        font-weight: 600;
    }
    .email_note {
        margin: 0.5em 0 1.5em;
    }
    .per-chat .message_content {
        margin: 0 0 0 -1em;
        padding: 0 0 0 1em;
    }
    .spacer:before {
        content: '';
        height: 6em;
    }
    .spacer:after {
        content: '';
        height: 12em;
    }
    .form-white .checkbox .control-label {
        padding-left: 15px;
        width: 60%;
        float: left;
    }
    .checkbox input[type="checkbox"] {
        float: left;
        position: relative;
        text-align: center;
        margin: 12px auto 0;
    }
    .conversation-area{
          display: inline-block;
          width: 100%;
    }
    .main-chat-head h2 {
        font-size:1.4em;
        font-weight: 700;
    }

    .join_user .main-chat-head h2,
    .join_admin .main-chat-head h2 {
        margin: 0;
    }
    .join_user .main-chat-head,
    .join_admin .main-chat-head {
        display: block;
        width: 100%;
        margin: 0 0 1em;
    }

    /*.current-online-user.avatar-panel {
        width: 300px;
    }*/

    .breadcrumb {
        padding-left: 2em;
    }

    .per-chat .user-name {
       /* background-color: #fff;*/
        line-height: 10px;
        padding: 8px 5px;
        font-weight: 600;
        font-size: 0.95em;
        max-width: 40%;
        min-height: auto;
    }

    .chat_details_page .container{
        width: 99%;
    }
    #events_section > .container {
        width: 100%;
    }
    #spec_chat_details > .container {
        width: 100%;
        padding: 0;
    }

    #spec_chat_details .chat_info.list-group {
        padding: 1em;
    }
    #podcasts_section {
        margin: 0;
    }
    #podcasts_section > .container {
        width: 95%;
    }

    #the_chat_transcript {
        width:80%;
        margin-left: auto;
        margin-right: auto;
    }
    .chat_view_sec {
        padding: 1em;
    }

    .archives_index_btn {
        margin-top: 2em;
    }
    .row.actions .chat_intro {
        margin-bottom: 0.5em;
    }

    .table-responsive > .table > thead > tr > th, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > td {
        white-space: normal;
    }
    .col-md-4.photo_uploader {
         margin: 0 auto;
        text-align: center;
         float: none;
    }
    .cropper{
        float: none;
    }
    .col-sm-3.col-xs-6.chat_intro{
        padding-left: 0;
        padding-right:0;
    }

    #login-form > .col-sm-6 {
        padding: 0;
    }
    .col-sm-3.col-xs-6.chat_intro:nth-child(even)  > span{
        float: right;
    }
    header .intro-text {
        padding-top: 1em;
        padding-bottom: 1em;
        color:#ffffff;
    }
    .chats_slider_title .text-center {
    font-weight: 400;
    margin: 0;
    font-size: 1.8em;
    text-transform: capitalize;
    color: #57585a;
    padding-left: 20px;
    padding-top: 30px;
}
.navbar-default {
    background-color: #112d42;
    border-color: transparent;
    /*margin-top: 48px;*/
    margin-bottom: 0px;


}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
}

.form-white .control-label {
    color: #000;

    font-weight: 700;
    font-size: 0.72em;
}
.navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
    margin-bottom: 0px;
    height:auto;
    margin-right: -15px;
     margin-left: -15px;

}
}
/*@media max 768px*/

@media (max-width: 480px) {
    .posted-chat-actions {
    padding-right: 0px;
   /* text-align: center;*/
    height: 37px;
    padding-top: 20px;

}
.tooltip{
    padding-left: 5px;
}
.tooltip .tooltiptext {
       visibility: hidden;
    width: 60px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 45%;
    left: 50%;
    margin-left: -32px;
    opacity: 1;
    transition: opacity 0.3s;
}
.likecounter {
    font-size: 1.2em;
    position: absolute;
    bottom: -25px;
    left: 0px;
    width: 100%;
    z-index: 12;
    cursor: pointer;
    padding-left: 8px
}
.posted-chat-actions .axn {
    /*width: 30px;*/
    padding: 5px;
    margin: 0;
    display: inline-block;
    background-color:none;
    border: 0;
    /*text-align: center;*/
    font-size: 1em;
}
    .navbar-brand>img {
  height: 100%;
  /*padding: 15px;*/
  width: auto;
}
    .navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
    margin-bottom: 0px;
    height:50px;
    margin-right: -15px;
    margin-left: -15px;

}
    .section-register .btn.btn-default,
    .section-login .btn.btn-default {
        width: inherit;
    }
    .carousel-section.row{
        display: none;
    }

    .email_note {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    .welcome-nav{
        display: none;
    }
.help-nav {
margin-top: -7px;
padding-bottom: 0px
padding-left:70px;
border-left: 1px solid #FFFFFF;
display: none;
}
.nav li .help-nav{
    display:none;
}

    .media .media-left {
        display: block;
        width:100%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 1em;
    }

    .ui.media-object.image {
        text-align: center;
        margin: 0 auto;
    }
    .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
        margin-top: 0.5em;
        margin-right: 0.7em;
    }
    .btn.btn-default.sign-up{
        margin-right: 0;
    }
    .navbar-default {
    background-color: #112d42;
    border-color: transparent;
    /*margin-top: 48px;*/
    margin-bottom: 0px;


}
.chat-index .archive_image {
    height: 290px;
    border: none;
}
}
/*@media max 480px*/


@media screen and (max-width: 960px) and (min-width: 768px){
.events-slider.carousel-section{
    margin-left:-100px;
}
.kcb-menu{
    margin-left: 90px;
}

}

.kcb-menu{
    list-style: none;
    /*padding-top: 2em;*/
   font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin-right: -30px;
    margin-top:40px;

}
.kcb-menu li{
    padding-bottom:2px;
    list-style:none;
    display:inline-block;
   /* padding-left:18px;*/



}
.kcb-menu a{
    font-weight: 800;
    font-family: "Nunito-Bold";
    font-size: 20px;
    line-height: inherit;
    color:#ffffff;
}
.kcb-menu a:hover{
    font-weight: 800;
   font-family: "Nunito-Bold";
    font-size: 20px;

    line-height: inherit;
    color:#ffffff;
}
.kcb-menu p{
    font-size:14px;
   /* padding-left: 40px;*/


}
.kcb-menu hr{
   border-top: dashed 1px #fff;
   margin-top: 10px;
   margin-bottom: 20px

}
.kcb-menu i{
    color: #D7DF27;
    font-size:1.6em;

}
.kcb-menu .ui.button{
  color:#ffffff;
}
.table-slide td{
    padding:2px;
}
.table-slide td label{
 font-weight: bold;
font-family: inherit;
font-size: inherit;
line-height: inherit;

}

.btn-archive, .btn-archive:hover, .btn-archive:focus {
    color: #fff;
    background-color: #3A0768;
    border-color: #3A0768;
    border-radius: 25px;
    font-weight: bold;
     font-family: "Nunito-Regular";
     font-size:12px;
   }

.btn-custom, .btn-custom:hover,.btn-custom:focus {
    color: #fff;
    background-color: #A7A9AC;
    border-color: #A7A9AC;
    border-radius: 25px;
     font-family: "Nunito-Regular";
     font-size:12px;
   }
.btn-clear, .btn-clear:hover,.btn-clear:focus {
    color: #fff;
    background-color: #112d42;
    border-color: #112d42;
    border-radius: 25px;
     font-family: "Nunito-Regular";
     font-size:14px;
     text-transform: none;
   }

.btn-host, .btn-host:hover, .btn-host:focus {
    color: #fff;
    background-color: #a6cb45;
    border-color: #a6cb45;
    border-radius: 25px;
     font-family: "Nunito-Regular";
     font-size:12px;
   }
   .btn-join, .btn-join:hover, .btn-join:focus {
    color: #fff;
    background-color: #F78F1E;
    border-color:#F78F1E;
    border-radius: 25px;
     font-family: "Nunito-Regular";
     font-size:12px;
   }

   .btn-chatroom, .btn-chatroom:hover, .btn-join:focus {
    color: #fff;
    background-color: #F9B26B;
    border-color:#F9B26B;
    border-radius: 25px;
     font-family: "Nunito-Regular";
     font-size:12px;
   }


.spec_chat_details hr{
    border-top: dotted 1px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #DB740E;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #DB740E;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color:#DB740E;
}
.avatar_holder {
    width: 120px;
    height: 120px;
    margin: 1% auto;
    overflow: hidden;
    border-radius: 200px;
}

.chat-form-input-tag {
    height: 2.35em;
    line-height: 1.5em;
    font-size: 24px;
    border-right: 0px solid;
}
#message-tag{
    background: #fff;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    resize:none;

}
.reply{
    border: 1px solid #f6f6f6;
    padding-left:10px;
    padding-top:3px;
    padding-bottom:3px;
    border-radius: 10px;
    width: 10% auto;
    background-color: #f6f6f6;
}
.reply a{
    color:#112d42;
}
.reply_originator{
    color:#112d42;
    font-weight: 2em;
}
.home-arrow{
    left: 46%;
    position: absolute;
    margin-top: -2.2%;
    color:#fff;
    background-image: url('../images/icons/down-arrow.png');
    background-repeat: no-repeat;
    width: 80px;
    height: 80px !important;
    background-size: 100% 100%;
}

.host-button {
    font-size: 14px;
    font-family: "Nunito-Regular";
    color:  #68c2cc !important;
    background-color: #ffffff !important;
    border-color: #ffffff!important;
    border-radius: 0px !important;
}
.host-button i{
    color:#000000 !important;
}
.convo-body{
  background-color: #f1f2f2;
}
.side-link a {
    color:#112d42;
    font-size: 16px;
    font-family: "Nunito-Regular";
    font-weight: bold;
    line-height: inherit;
}
.side-link a:hover{
    color:#112d42;
   font-size: 16px;
    font-family: "Nunito-Regular";
    font-weight: bold;
    line-height: inherit;
}

.home-icons{
    display:inline-block;
    width:auto;

}
.chat-view-ul{
    list-style: none;
    /*padding-top: 2em;*/
   font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    line-height: inherit;
    color:#DB740E;


}
.chat-view-ul li{
    list-style:none;
    display:inline-block;
    padding-left:5px;



}
.chat-view-ul a{
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  color:#DB740E;
}
.chat-view-ul a:hover{
    font-weight: bold;
   font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color:#F4511E;
    /* opacity: 0.5; */
}

.help-heading{
background-color:#112d42;

}

.accordion{margin-bottom:20px;margin-top: 30px}
.accordion-group{margin-bottom:2px;border:1px solid #e5e5e5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.accordion-heading{border-bottom:0; color:;}
.accordion-heading a{color:#002D40; font-size: inherit;font-weight:bold;}
.accordion-heading .accordion-toggle{display:block;padding:8px 15px;background: #E6E6E6;}
.accordion-toggle{cursor:pointer;}
.accordion-inner{padding:9px 15px;border-top:1px solid #e5e5e5;}
.accordion-inner p{color:#000; font-size:inherit; font-family:inherit; font-weight:inherit;}
.accordion-toggle:after {
    font-family: 'FontAwesome';
    content: "\f078";
    float: right;
}
.accordion-opened .accordion-toggle:after {
    content: "\f054";
}

.nav-stacked > li {
    float: none;
    border-bottom: 1px solid #f7ceaa;
}
.profile_view {
    margin-top: -20px
}
.profile-view-hr{

border-right: dotted 2px #ddd;
}
.profile-view-ul{
    list-style: none;

}
.profile-view-ul li{
padding:10px;
}

.btn-upload, .btn-upload:hover, .btn-upload:focus {
    color: #112d42;
    font-weight:bold;
    font-size: inherit;

    /* background-color: #112d42;
    border-color: #112d42;
    border-radius: 25px; */
}
.review{
    color:#112d42;
    font-weight:400;
    font-size: inherit;

}
.review h3{
     text-transform:none;
}
.host-notifications-wrapper {
    color: #000;
}
#host-notification_li
{
position:relative
}
#host-notificationContainer
{
background-color: #fff;
border: 1px solid rgba(100, 100, 100, .4);
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
overflow: visible;
position: absolute;
top: 36px;
right: 0;
width: 500px;
z-index: 400;
display: none; // Enable this after jquery implementation
}
// Popup Arrow
#host-notificationContainer:before {
content: '';
display: block;
position: absolute;
width: 0;
height: 0;
color: transparent;
border: 10px solid black;
border-color: transparent transparent white;
margin-top: -20px;
margin-left: 188px;
}
#host-notificationTitle
{
font-weight: bold;
padding: 8px;
font-size: 13px;
background-color: #ffffff;
z-index: 1000;
width: 384px;
border-bottom: 1px solid #dddddd;
}
#host-notificationsBody
{
    padding: 5px 0px 0px 0px ;
    min-height:300px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 50px;
}
#host-notificationFooter
{
background-color: #e9eaed;
text-align: center;
font-weight: bold;
padding: 8px;
font-size: 12px;
border-top: 1px solid #dddddd;
}
.host-notifications_ul {list-style:none;margin: 0px;padding: 0px;}
.host-notifications_ul li {
float: left;
font-size: 11px;
font-weight: 500;
}
.host-notifications_ul li a{color:#333333;text-decoration:none}
.host-notifications_ul li a:hover{color:#006699;text-decoration:none}
#host-notification_count
{
    background:red;
   position:relative;
   top: -20px;
   left: -15px;
   z-index: 40;
}
button#host-notificationLink{
    padding-right: 10px;
    color: #A6A8AB;
    background-color: rgba(149,201,74,0.1);
    border:rgba(149,201,74,0.1);
    margin-right: 10px;
}
.host-notification_single {
    padding: 7px 0px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}
.host-notification-title.text-info {
    line-height: 1.457143;
}
.host-notification-description {
    line-height: 1.857143;
}
.host-notification-ago {
    line-height: 1.42857143;
}
.host-notifications-wrapper {
    margin-right: -23px;
}

.topic-notifications-wrapper {
    color: #000;
}
#topic-notification_li
{
position:relative
}
#topic-notificationContainer
{
background-color: #fff;
border: 1px solid rgba(100, 100, 100, .4);
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
overflow: visible;
position: absolute;
top: 36px;
right: 0;
width: 400px;
z-index: 400;
display: none; // Enable this after jquery implementation
}
// Popup Arrow
#topic-notificationContainer:before {
content: '';
display: block;
position: absolute;
width: 0;
height: 0;
color: transparent;
border: 10px solid black;
border-color: transparent transparent white;
margin-top: -20px;
margin-left: 188px;
}
#topic-notificationTitle
{
font-weight: bold;
padding: 8px;
font-size: 13px;
background-color: #ffffff;
z-index: 1000;
width: 384px;
border-bottom: 1px solid #dddddd;
}
#topic-notificationsBody
{
    padding: 5px 0px 0px 0px ;
    min-height:300px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 50px;
}
#topic-notificationFooter
{
background-color: #e9eaed;
text-align: center;
font-weight: bold;
padding: 8px;
font-size: 12px;
border-top: 1px solid #dddddd;
}
.topic-notifications_ul {list-style:none;margin: 0px;padding: 0px;}
.topic-notifications_ul li {
float: left;
font-size: 11px;
font-weight: 500;
}
.topic-notifications_ul li a{color:#333333;text-decoration:none}
.topic-notifications_ul li a:hover{color:#006699;text-decoration:none}
#topic-notification_count
{
    background:red;
   position:relative;
   top: -20px;
   left: -15px;
   z-index: 40;
}
button#topic-notificationLink{
    padding-right: 10px;
    color: #A6A8AB;
    background-color: rgba(149,201,74,0.1);
    border:rgba(149,201,74,0.1);
    margin-right: 10px;
}
.topic-notification_single {
    padding: 7px 0px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}
.topic-notification-title.text-info {
    line-height: 1.457143;
}
.topic-notification-description {
    line-height: 1.857143;
}
.topic-notification-ago {
    line-height: 1.42857143;
}
.topic-notifications-wrapper {
    margin-right: -23px;
}

.topic-notificationContainer{
    padding-left:15px;
    margin-bottom: 20px;
}
.topic-notificationContainer h2{
    padding-left: 30px;
    padding-top:15px;
    color:#F78F1E;
    text-decoration: none;
    text-transform: none;
    font-weight: bold;
    font-size: 16px;
    font-family: "Nunito-Regular";
}
.topic-notificationContainer h3{
    padding-left: 31px;
    color:#112d42;
    text-decoration: none;
    text-transform: none;
    font-weight: bold;
   font-size: 15px;
    font-family: "Nunito-Regular";
}

.topic-notificationContainer ul{
    list-style: none;

}
.topic-notificationContainer li{
    list-style: none;
    float:none;
    font-size: 14px;
    font-family: "Nunito-Regular";


}
.host-notificationContainer{
    padding-left:15px;
    margin-bottom: 20px;
}

.host-notificationContainer h2{
    padding-left: 30px;
    padding-top:15px;
    color:#F78F1E;
    text-decoration: none;
    text-transform: none;
   font-size: 16px;
    font-family: "Nunito-Regular";
}

.close-icon{background: url(../images/icons/close.png) right center no-repeat;}

.host-avatar-holder{
   width: 120px;
    height: 120px;
     margin-left: 30px ;
    overflow: hidden;
    border-radius: 200px;
     margin-top: 20px ;
}
.host-notificationContainer p{
   padding-left: 30px;
    padding-right: 10px;
   font-size: 14px;
    font-family: "Nunito-Regular";

}
@media (max-width: 480px) {

    #message-tag{
    background: #fff;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    resize:none;
    width:89%;
}
#mentions{
    width:89%;
    height:70px;
}
    .home_image_holder {
    /* width: 220px; */
    /* height: 220px; */
    margin: 5% auto;
    overflow: hidden;
    /* border-radius: 200px; */
}
   #topic-notificationContainer {

    width:300px;
   }
    #host-notificationContainer {
      left:1px;
    width:300px;
   }
   .chat-form {
   /* background-color: #fff;*/
    display: inline-block;
    width: 100%;
    margin-left: -1px;
    position: absolute;
  /*  bottom: -70px;*/
}
.join_user .chat-form {

}

}

.ui.button {
    cursor: pointer;
    display: inline-block;
    border: none;
    vertical-align: baseline;
    background: none !important;
    color: #112d42 ;
    font-family: 'Raleway-Regular';
    margin: 0em 0.25em 0em 0em;
    padding: 0.78571429em 1.5em 0.78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: bold;
    line-height: 1em;
    font-style: normal;
    font-size:16px;

}
.clip-upload{
    background-color: rgba(149,201,74,0.1);
}

.rounded {
  height: 30px;
  border-radius: 4px;
  padding: 4px;
}

.in1 {
  width: 120px;
}

.in2 {
  width: 350px;
}

i {
  margin: 0 8px;
}

.filename-container {
  margin: 20px 20px 0 0;
}

.filename {
  display: inline-block;
  padding: 0 10px;
  margin-right: 10px;
  background-color: #112d42;
  border: 1px solid #112d42;
  border-radius: 15px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  font-family: 'Raleway';
}

.hide {
  display: none;
}

.modal.active{

    margin-top: 130px;
}

.border-right{
     border-right:1px dashed;
}

.notification-icon{
  background: url(../images/icons/notification-icon.png)no-repeat;
    width: 60px;
    height: 60px !important;
    background-size: 100% 100%;


}
.feedback{
    font-family: "Nunito-Regular";
line-height: 1.5em;
font-weight: 400;
font-size:24px;
}
.modal-container{
 width:100%;
}

.reply-icon{

    background-image: url('../images/icons/reply.png');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px !important;
    background-size: 100% 100%;
    background-color: rgba(201,66,47,0);
}

.like-icon{

    background-image: url('../images/icons/like.png');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px !important;
    background-size: 100% 100%;
    background-color: rgba(201,66,47,0);
}

/*.tooltip
    {
    display: block;
    position: absolute;
    background-color: rgb(130, 150, 200);
    padding: 5px;
    }*/
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Nunito-Regular";
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 1;

  line-break: auto;
}
    .tooltip {
    position: relative;
    display: inline-block;
   /* border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    /*opacity: 1;*/
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 767px) {

    .kcb-menu{
    list-style: none;
    /*padding-top: 2em;*/
   font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin-top:0px;


}

.home-arrow {
    left: 40%;
    position: absolute;
    margin-top: -8.2%;
    color: #fff;
    background-image: url('../images/icons/down-arrow.png');
    background-repeat: no-repeat;
    width: 80px;
    height: 80px !important;
    background-size: 100% 100%;
}
}

.erevuka-alert h1 {
    font-size: 3em;
    width: 50%;
    margin: auto;
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
}
.erevuka-alert h2 {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.4em;
    width: 80%;
    color: #fff;
    margin: auto;
}
.erevuka-alert {
    padding: 0px 60px;
    padding-bottom: 20px;
}
.carousel-caption {

    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 4%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 15%;
    color: #fff;
    text-align:initial !important;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    width:95%

}
.active .carousel-caption {

    bottom: -10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-shadow: none;

}
.carousel-inner p {
  color:#fff;
    /* font-size: 1em; */
    padding-left: 0px;
    font-weight: normal;

}
/* @media screen and (min-width: 768px) {
  .carousel-caption {
    right: 20%;
    left: 5%;

  }
} */
.navbar-fixed-top{
  height:60px;
  padding: 10px 0
}
.navbar-fixed-top .ui.button {
    color: #ffffff;
}
.navbar-fixed-top i {
    color: #D7DF27;
    font-size: 1.6em;
}



.fixed-top{
 height:46px !important;

}
.chatbanner_follow{
  font-family:"Nunito-ExtraBold";
  font-size:18pt;
  padding:15px;
  color:#A7A9AC;
  line-height: 25px;
  margin-bottom: 0;
}


#event_topics_slider {
    width: 85%;
    margin: 0 auto;
    color:#000000;
}
#event_topics_slider img{
  left:30%;
  position:relative;
    width: auto;
    height: 80px !important;
}
.event_holder h1{
  text-align: center;
  font-family: "Nunito-Bold";
}
.event_holder p{
  color:#000;
  text-align:center;
  font-family: "Nunito-Regular";
  font-size:16px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff !important;
    background-color: #DB740E !important;
}
.nav-brand{
  color:#ffffff;
}

.alert-success {
    color: #ffffff;
    background-color: #DB740E;
    border-color: #DB740E;
    opacity:0.3;
}
.side-link{
margin-left:15%;
}
